In [226]:
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import math
import datetime as dt
import matplotlib as mpl
import matplotlib.pyplot as plt
import statistics as stats
import scipy
from scipy.stats.stats import pearsonr
from matplotlib import style
import warnings
import seaborn as sns
import requests
import bs4 as bs
import os
import csv
from openpyxl.workbook import Workbook as wb
from openpyxl import load_workbook
from openpyxl.styles import Font
from openpyxl.utils.dataframe import dataframe_to_rows
from pylab import rcParams
from sklearn import linear_model
import statsmodels.api as sm
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
warnings.filterwarnings('ignore')

In [4]:
'''USE FF_Research_Data, col (RM-RF) + col (RF) = RM(t) to generate beta
Annual Excess Return: rp(t) – RF(t) , where RF(t) comes from FF.
R_j(t) = RF(t) + beta_j*( RM-RF  ), rewrite differently
R_j(t) – RF(t) =  ( RM(t)-RF(t)  )*beta_j'''

'USE FF_Research_Data, col (RM-RF) + col (RF) = RM(t) to generate beta\nAnnual Excess Return: rp(t) – RF(t) , where RF(t) comes from FF.\nR_j(t) = RF(t) + beta_j*( RM-RF  ), rewrite differently\nR_j(t) – RF(t) =  ( RM(t)-RF(t)  )*beta_j'

In [5]:
data = pd.read_excel('stock_returns_data.xlsx')

In [6]:
df = data[['Names Date','Ticker Symbol','Returns']]

In [7]:
df = df[pd.to_numeric(df['Returns'], errors='coerce').notnull()]

In [8]:
df['Date'] = df['Names Date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
df

         Names Date Ticker Symbol   Returns       Date
0          20070131          EWST  0.023279 2007-01-31
1          20070228          EWST  0.261621 2007-02-28
2          20070330          EWST  0.019732 2007-03-30
3          20070430          EWST  0.002764 2007-04-30
4          20070531          EWST  0.043418 2007-05-31
...             ...           ...       ...        ...
1048568    20191129            VT  0.025614 2019-11-29
1048569    20191231            VT  0.034494 2019-12-31
1048572    20080731           SZR  0.076445 2008-07-31
1048573    20080829           SZR -0.040735 2008-08-29
1048574    20080930           SZR -0.063134 2008-09-30

[1021412 rows x 4 columns]

In [9]:
df['Returns']=df['Returns']*100
df1 = df[['Date','Ticker Symbol','Returns']]
df1['Date'] = df1['Date'].map(lambda x: 100*x.year + x.month)
df1['Date'] = df1['Date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m'))
df1

              Date Ticker Symbol  Returns
0       2007-01-01          EWST   2.3279
1       2007-02-01          EWST  26.1621
2       2007-03-01          EWST   1.9732
3       2007-04-01          EWST   0.2764
4       2007-05-01          EWST   4.3418
...            ...           ...      ...
1048568 2019-11-01            VT   2.5614
1048569 2019-12-01            VT   3.4494
1048572 2008-07-01           SZR   7.6445
1048573 2008-08-01           SZR  -4.0735
1048574 2008-09-01           SZR  -6.3134

[1021412 rows x 3 columns]

In [10]:
df1 = df1[(df1['Date'] > '2014-12') & (df1['Date'] < '2020-01')]
df1.head(50)

          Date Ticker Symbol  Returns
96  2015-01-01          EGAS -11.5245
97  2015-02-01          EGAS   3.5897
98  2015-03-01          EGAS  -0.0495
99  2015-04-01          EGAS   1.1044
100 2015-05-01          EGAS  -0.6951
101 2015-06-01          EGAS        3
102 2015-07-01          EGAS  -1.3107
103 2015-08-01          EGAS -11.1665
104 2015-09-01          EGAS   0.3367
105 2015-10-01          EGAS   0.1678
106 2015-11-01          EGAS   -0.907
107 2015-12-01          EGAS -13.2151
108 2016-01-01          EGAS  11.6779
109 2016-02-01          EGAS  -5.5288
110 2016-03-01          EGAS  -0.6361
111 2016-04-01          EGAS  -5.5698
112 2016-05-01          EGAS  -2.1918
113 2016-06-01          EGAS  -2.1008
114 2016-07-01          EGAS   2.6466
115 2016-08-01          EGAS    3.662
116 2016-09-01          EGAS    4.212
117 2016-10-01          EGAS  61.9948
118 2016-11-01          EGAS   1.2146
119 2016-12-01          EGAS        1
120 2017-01-01          EGAS   0.7968
121 2017-02-01          EGAS        0
122 2017-03-01          EGAS   0.9881
123 2017-04-01          EGAS  -1.5748
124 2017-05-01          EGAS      1.6
125 2017-06-01          EGAS   2.3622
126 2017-07-01          EGAS   0.1934
298 2015-01-01          AEPI -13.8263
299 2015-02-01          AEPI   1.0976
300 2015-03-01          AEPI   8.6459
301 2015-04-01          AEPI  -8.9753
302 2015-05-01          AEPI  -0.1397
303 2015-06-01          AEPI  10.3338
304 2015-07-01          AEPI -12.4094
305 2015-08-01          AEPI  12.6163
306 2015-09-01          AEPI   5.2893
307 2015-10-01          AEPI   39.543
308 2015-11-01          AEPI   13.975
309 2015-12-01          AEPI -15.3871
310 2016-01-01          AEPI  10.0324
311 2016-02-01          AEPI  -7.0061
312 2016-03-01          AEPI -16.1479
313 2016-04-01          AEPI  -6.2424
314 2016-05-01          AEPI  -2.6286
315 2016-06-01          AEPI  34.0777
316 2016-07-01          AEPI   0.3107

In [11]:
df1 = df1.dropna(subset=['Ticker Symbol'])

In [12]:
fama = pd.read_excel('FF_Research_Data_Factors.xlsx')
fama = fama[['Date','Mkt-RF','RF']]
fama['Returns'] = fama['Mkt-RF']+fama['RF']
fama['Ticker Symbol']='SP500'
fama1 = fama[['Date','Ticker Symbol','Returns','RF']]
fama1['Date'] = fama1['Date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m'))
fama1

           Date Ticker Symbol  Returns    RF
0    1926-07-01         SP500     3.18  0.22
1    1926-08-01         SP500     2.89  0.25
2    1926-09-01         SP500     0.59  0.23
3    1926-10-01         SP500    -2.92  0.32
4    1926-11-01         SP500     2.84  0.31
...         ...           ...      ...   ...
1120 2019-11-01         SP500     3.99  0.12
1121 2019-12-01         SP500     2.91  0.14
1122 2020-01-01         SP500     0.02  0.13
1123 2020-02-01         SP500    -8.01  0.12
1124 2020-03-01         SP500   -13.27  0.12

[1125 rows x 4 columns]

In [13]:
dfAll = pd.concat([df1,fama1])
dfAll = dfAll.reset_index()
dfAll = dfAll[(dfAll['Date'] > '2014-12-31') & (dfAll['Date'] < '2019-12-31')]
dfAll = dfAll[['Date','Ticker Symbol','Returns','RF']]
dfAll

             Date Ticker Symbol  Returns    RF
0      2015-01-01          EGAS -11.5245   NaN
1      2015-02-01          EGAS   3.5897   NaN
2      2015-03-01          EGAS  -0.0495   NaN
3      2015-04-01          EGAS   1.1044   NaN
4      2015-05-01          EGAS  -0.6951   NaN
...           ...           ...      ...   ...
413746 2019-08-01         SP500    -2.42  0.16
413747 2019-09-01         SP500     1.62  0.18
413748 2019-10-01         SP500     2.21  0.15
413749 2019-11-01         SP500     3.99  0.12
413750 2019-12-01         SP500     2.91  0.14

[412689 rows x 4 columns]

In [213]:
stock_count = dfAll.groupby('Ticker Symbol')['Returns'].count()
stock_count = stock_count[stock_count == 60]
stocks = [*stock_count.keys()]
stocks

['A',
 'AADR',
 'AAL',
 'AAMC',
 'AAME',
 'AAN',
 'AAOI',
 'AAON',
 'AAP',
 'AAPL',
 'AAT',
 'AAU',
 'AAWW',
 'AB',
 'ABB',
 'ABBV',
 'ABC',
 'ABCB',
 'ABDC',
 'ABEV',
 'ABG',
 'ABIO',
 'ABM',
 'ABMD',
 'ABR',
 'ABT',
 'ACAD',
 'ACC',
 'ACCO',
 'ACGL',
 'ACH',
 'ACHC',
 'ACHN',
 'ACIW',
 'ACLS',
 'ACM',
 'ACN',
 'ACNB',
 'ACOR',
 'ACP',
 'ACRE',
 'ACRX',
 'ACST',
 'ACTG',
 'ACU',
 'ACWI',
 'ACWV',
 'ACWX',
 'ACY',
 'ADBE',
 'ADC',
 'ADI',
 'ADM',
 'ADMA',
 'ADMP',
 'ADMS',
 'ADP',
 'ADRA',
 'ADRD',
 'ADRE',
 'ADRU',
 'ADS',
 'ADSK',
 'ADTN',
 'ADX',
 'ADXS',
 'AE',
 'AEE',
 'AEG',
 'AEGN',
 'AEHR',
 'AEIS',
 'AEL',
 'AEM',
 'AEO',
 'AEP',
 'AER',
 'AERI',
 'AES',
 'AEY',
 'AEZS',
 'AFB',
 'AFG',
 'AFH',
 'AFL',
 'AFMD',
 'AFT',
 'AG',
 'AGCO',
 'AGD',
 'AGEN',
 'AGG',
 'AGI',
 'AGIO',
 'AGNC',
 'AGND',
 'AGO',
 'AGRO',
 'AGRX',
 'AGTC',
 'AGX',
 'AGYS',
 'AGZD',
 'AHC',
 'AHH',
 'AHPI',
 'AHT',
 'AI',
 'AIA',
 'AIF',
 'AIG',
 'AIMC',
 'AIN',
 'AINC',
 'AINV',
 'AIR',
 'AIRI',
 'AIRR',
 'AIRT',
 'AIT',
 'AIV',
 'AIZ',
 'AJG',
 'AKAM',
 'AKBA',
 'AKER',
 'AKG',
 'AKR',
 'AKRX',
 'AKS',
 'AL',
 'ALB',
 'ALCO',
 'ALDX',
 'ALE',
 'ALEX',
 'ALFA',
 'ALG',
 'ALGN',
 'ALGT',
 'ALK',
 'ALKS',
 'ALL',
 'ALLE',
 'ALLT',
 'ALLY',
 'ALNY',
 'ALOT',
 'ALSK',
 'ALSN',
 'ALTS',
 'ALV',
 'ALX',
 'ALXN',
 'AM',
 'AMAG',
 'AMAT',
 'AMBA',
 'AMBC',
 'AMC',
 'AMCX',
 'AMD',
 'AME',
 'AMED',
 'AMG',
 'AMGN',
 'AMH',
 'AMKR',
 'AMLP',
 'AMNB',
 'AMOT',
 'AMOV',
 'AMP',
 'AMPE',
 'AMPH',
 'AMRB',
 'AMRC',
 'AMRK',
 'AMRN',
 'AMRS',
 'AMS',
 'AMSC',
 'AMSF',
 'AMSWA',
 'AMT',
 'AMTD',
 'AMTX',
 'AMWD',
 'AMX',
 'AMZA',
 'AMZN',
 'AN',
 'ANAT',
 'ANDE',
 'ANET',
 'ANF',
 'ANGL',
 'ANGO',
 'ANH',
 'ANIK',
 'ANIP',
 'ANSS',
 'ANTM',
 'ANY',
 'AOD',
 'AON',
 'AOS',
 'AP',
 'APA',
 'APAM',
 'APD',
 'APDN',
 'APEI',
 'APH',
 'APO',
 'APOG',
 'APPS',
 'APT',
 'APTO',
 'APTS',
 'APWC',
 'AR',
 'ARAY',
 'ARC',
 'ARCB',
 'ARCC',
 'ARCO',
 'ARDC',
 'ARDX',
 'ARE',
 'ARES',
 'ARGT',
 'ARKG',
 'ARKK',
 'ARKQ',
 'ARKR',
 'ARKW',
 'ARL',
 'ARLP',
 'ARMK',
 'ARNA',
 'AROW',
 'ARQL',
 'ARR',
 'ARTNA',
 'ARTW',
 'ARW',
 'ARWR',
 'ASA',
 'ASB',
 'ASC',
 'ASEA',
 'ASFI',
 'ASG',
 'ASGN',
 'ASH',
 'ASHR',
 'ASHS',
 'ASM',
 'ASMB',
 'ASML',
 'ASNA',
 'ASPN',
 'ASR',
 'ASTC',
 'ASTE',
 'ASUR',
 'ASX',
 'ASYS',
 'AT',
 'ATEC',
 'ATEN',
 'ATHM',
 'ATHX',
 'ATI',
 'ATLC',
 'ATLO',
 'ATNI',
 'ATNM',
 'ATO',
 'ATOS',
 'ATR',
 'ATRA',
 'ATRC',
 'ATRI',
 'ATRO',
 'ATRS',
 'ATSG',
 'ATTO',
 'ATV',
 'ATVI',
 'AU',
 'AUBN',
 'AUDC',
 'AUPH',
 'AUY',
 'AVA',
 'AVAV',
 'AVB',
 'AVD',
 'AVID',
 'AVK',
 'AVNW',
 'AVP',
 'AVT',
 'AVX',
 'AVY',
 'AWF',
 'AWI',
 'AWK',
 'AWP',
 'AWR',
 'AWRE',
 'AWX',
 'AXAS',
 'AXDX',
 'AXE',
 'AXGN',
 'AXJL',
 'AXL',
 'AXP',
 'AXR',
 'AXS',
 'AXTA',
 'AXTI',
 'AXU',
 'AYI',
 'AYR',
 'AZN',
 'AZO',
 'AZPN',
 'AZZ',
 'B',
 'BA',
 'BABA',
 'BAC',
 'BAF',
 'BAH',
 'BAM',
 'BANC',
 'BANF',
 'BANR',
 'BANX',
 'BAP',
 'BASI',
 'BAX',
 'BBBY',
 'BBC',
 'BBDO',
 'BBF',
 'BBGI',
 'BBH',
 'BBK',
 'BBL',
 'BBN',
 'BBP',
 'BBSI',
 'BBVA',
 'BBW',
 'BBY',
 'BC',
 'BCBP',
 'BCC',
 'BCE',
 'BCEI',
 'BCH',
 'BCLI',
 'BCO',
 'BCOM',
 'BCOR',
 'BCOV',
 'BCPC',
 'BCRH',
 'BCRX',
 'BCS',
 'BCV',
 'BCX',
 'BDC',
 'BDJ',
 'BDL',
 'BDN',
 'BDR',
 'BDSI',
 'BDX',
 'BEAT',
 'BECN',
 'BELFA',
 'BELFB',
 'BEN',
 'BEP',
 'BERY',
 'BFAM',
 'BFIN',
 'BFK',
 'BFO',
 'BFOR',
 'BFS',
 'BFY',
 'BFZ',
 'BG',
 'BGB',
 'BGCP',
 'BGFV',
 'BGG',
 'BGH',
 'BGI',
 'BGR',
 'BGS',
 'BGSF',
 'BGT',
 'BGX',
 'BGY',
 'BHB',
 'BHE',
 'BHK',
 'BHLB',
 'BHP',
 'BHV',
 'BIDU',
 'BIF',
 'BIG',
 'BIIB',
 'BIL',
 'BIOC',
 'BIOL',
 'BIOS',
 'BIP',
 'BIT',
 'BITA',
 'BIV',
 'BIZD',
 'BJK',
 'BJRI',
 'BK',
 'BKCC',
 'BKD',
 'BKE',
 'BKEP',
 'BKF',
 'BKH',
 'BKJ',
 'BKK',
 'BKLN',
 'BKN',
 'BKSC',
 'BKT',
 'BKU',
 'BLCM',
 'BLDP',
 'BLDR',
 'BLE',
 'BLFS',
 'BLIN',
 'BLK',
 'BLKB',
 'BLL',
 'BLMN',
 'BLRX',
 'BLUE',
 'BLV',
 'BLW',
 'BLX',
 'BMA',
 'BME',
 'BMI',
 'BMO',
 'BMRC',
 'BMRN',
 'BMTC',
 'BMY',
 'BND',
 'BNDX',
 'BNFT',
 'BNS',
 'BNSO',
 'BNY',
 'BOCH',
 'BOE',
 'BOH',
 'BOIL',
 'BOKF',
 'BOND',
 'BOOM',
 'BOOT',
 'BOSC',
 'BOTJ',
 'BP',
 'BPFH',
 'BPOP',
 'BPT',
 'BPTH',
 'BPY',
 'BQH',
 'BR',
 'BRC',
 'BREW',
 'BRFS',
 'BRG',
 'BRID',
 'BRKL',
 'BRKR',
 'BRKS',
 'BRN',
 'BRO',
 'BRT',
 'BRX',
 'BRZU',
 'BSAC',
 'BSD',
 'BSE',
 'BSET',
 'BSMX',
 'BSQR',
 'BSRR',
 'BST',
 'BSTC',
 'BSV',
 'BSX',
 'BTA',
 'BTAL',
 'BTE',
 'BTG',
 'BTI',
 'BTN',
 'BTO',
 'BTT',
 'BTZ',
 'BUI',
 'BURL',
 'BUSE',
 'BVN',
 'BVSN',
 'BWA',
 'BWFG',
 'BWG',
 'BWL',
 'BWX',
 'BX',
 'BXC',
 'BXMT',
 'BXMX',
 'BXP',
 'BXS',
 'BYD',
 'BYFC',
 'BYLD',
 'BYM',
 'BZH',
 'BZM',
 'C',
 'CAAS',
 'CAC',
 'CACC',
 'CACI',
 'CAE',
 'CAF',
 'CAG',
 'CAH',
 'CAJ',
 'CAKE',
 'CALA',
 'CALM',
 'CAMP',
 'CAMT',
 'CANE',
 'CANF',
 'CAPL',
 'CAR',
 'CARA',
 'CARO',
 'CART',
 'CARV',
 'CARZ',
 'CASH',
 'CASI',
 'CASS',
 'CASY',
 'CAT',
 'CATM',
 'CATO',
 'CATY',
 'CB',
 'CBAN',
 'CBAY',
 'CBB',
 'CBFV',
 'CBL',
 'CBLI',
 'CBMG',
 'CBON',
 'CBPX',
 'CBRL',
 'CBSH',
 'CBT',
 'CBU',
 'CBZ',
 'CCBG',
 'CCCL',
 'CCF',
 'CCI',
 'CCJ',
 'CCK',
 'CCL',
 'CCLP',
 'CCMP',
 'CCNE',
 'CCO',
 'CCOI',
 'CCRN',
 'CCS',
 'CCU',
 'CCXI',
 'CDC',
 'CDE',
 'CDK',
 'CDNA',
 'CDNS',
 'CDR',
 'CDW',
 'CDZI',
 'CE',
 'CEA',
 'CECE',
 'CECO',
 'CEE',
 'CEL',
 'CELP',
 'CEMB',
 'CEMI',
 'CEN',
 'CENT',
 'CENTA',
 'CENX',
 'CEO',
 'CEQP',
 'CERN',
 'CERS',
 'CET',
 'CETV',
 'CEV',
 'CEVA',
 'CF',
 'CFA',
 'CFBK',
 'CFFI',
 'CFFN',
 'CFG',
 'CFO',
 'CFR',
 'CFRX',
 'CFX',
 'CG',
 'CGEN',
 'CGIX',
 'CGNX',
 'CGO',
 'CHA',
 'CHCI',
 'CHCO',
 'CHD',
 'CHDN',
 'CHE',
 'CHEF',
 'CHEP',
 'CHGG',
 'CHH',
 'CHI',
 'CHK',
 'CHKP',
 'CHKR',
 'CHL',
 'CHMG',
 'CHMI',
 'CHN',
 'CHNR',
 'CHRS',
 'CHRW',
 'CHS',
 'CHT',
 'CHTR',
 'CHU',
 'CHUY',
 'CHW',
 'CHY',
 'CI',
 'CIA',
 'CIDM',
 'CIEN',
 'CIF',
 'CIG',
 'CII',
 'CIK',
 'CIM',
 'CINF',
 'CIO',
 'CIR',
 'CIX',
 'CIZ',
 'CIZN',
 'CKH',
 'CKX',
 'CL',
 'CLB',
 'CLCT',
 'CLDX',
 'CLF',
 'CLFD',
 'CLGX',
 'CLH',
 'CLI',
 'CLIR',
 'CLM',
 'CLMT',
 'CLNE',
 'CLR',
 'CLRB',
 'CLRO',
 'CLS',
 'CLSN',
 'CLUB',
 'CLVS',
 'CLWT',
 'CLX',
 'CM',
 'CMA',
 'CMBS',
 'CMC',
 'CMCM',
 'CMCO',
 'CMCSA',
 'CMCT',
 'CME',
 'CMF',
 'CMG',
 'CMI',
 'CMO',
 'CMP',
 'CMPR',
 'CMRE',
 'CMRX',
 'CMS',
 'CMT',
 'CMTL',
 'CMU',
 'CN',
 'CNA',
 'CNAT',
 'CNBKA',
 'CNC',
 'CNCE',
 'CNHI',
 'CNI',
 'CNK',
 'CNMD',
 'CNO',
 'CNOB',
 'CNP',
 'CNQ',
 'CNS',
 'CNSL',
 'CNTY',
 'CNX',
 'CNXT',
 'CODI',
 'COF',
 'COG',
 'COHR',
 'COHU',
 'COKE',
 'COLB',
 'COLM',
 'COMM',
 'COMT',
 'CONE',
 'CONN',
 'COO',
 'COP',
 'COR',
 'CORE',
 'CORP',
 'CORR',
 'CORT',
 'COST',
 'COT',
 'COTY',
 'CP',
 'CPA',
 'CPAC',
 'CPAH',
 'CPB',
 'CPE',
 'CPER',
 'CPF',
 'CPG',
 'CPHC',
 'CPK',
 'CPL',
 'CPLP',
 'CPRT',
 'CPRX',
 'CPS',
 'CPSI',
 'CPSS',
 'CPST',
 'CPT',
 'CPTA',
 'CQP',
 'CR',
 'CRAI',
 'CRBN',
 'CRC',
 'CRCM',
 'CREE',
 'CRESY',
 'CRF',
 'CRH',
 'CRI',
 'CRIS',
 'CRK',
 'CRL',
 'CRM',
 'CRMT',
 'CRNT',
 'CROC',
 'CROP',
 'CROX',
 'CRS',
 'CRT',
 'CRTO',
 'CRUS',
 'CRVL',
 'CRWS',
 'CRY',
 'CS',
 'CSCO',
 'CSF',
 'CSFL',
 'CSGP',
 'CSGS',
 'CSII',
 'CSIQ',
 'CSL',
 'CSLT',
 'CSOD',
 'CSPI',
 'CSQ',
 'CSS',
 'CSTE',
 'CSTM',
 'CSU',
 'CSV',
 'CSWC',
 'CSX',
 'CTAS',
 'CTB',
 'CTBI',
 'CTG',
 'CTHR',
 'CTIB',
 'CTIC',
 'CTL',
 'CTLT',
 'CTO',
 'CTR',
 'CTRE',
 'CTRN',
 'CTS',
 'CTSH',
 'CTSO',
 'CTT',
 'CTXS',
 'CUB',
 'CUBA',
 'CUBE',
 'CUBI',
 'CUI',
 'CUK',
 'CUO',
 'CURE',
 'CUTR',
 'CUZ',
 'CVA',
 'CVBF',
 'CVCO',
 'CVCY',
 'CVEO',
 'CVGI',
 'CVGW',
 'CVI',
 'CVLT',
 'CVLY',
 'CVM',
 'CVR',
 'CVS',
 'CVTI',
 'CVU',
 'CVV',
 'CVX',
 'CW',
 'CWBC',
 'CWCO',
 'CWI',
 'CWST',
 'CWT',
 'CX',
 'CXE',
 'CXH',
 'CXO',
 'CXP',
 'CXW',
 'CY',
 'CYAN',
 'CYB',
 'CYBE',
 'CYBR',
 'CYCC',
 'CYD',
 'CYH',
 'CYRN',
 'CYTK',
 'CZNC',
 'CZR',
 'CZWI',
 'CZZ',
 'D',
 'DAC',
 'DAIO',
 'DAKT',
 'DAL',
 'DAN',
 'DAR',
 'DB',
 'DBA',
 'DBAW',
 'DBB',
 'DBC',
 'DBD',
 'DBE',
 'DBEF',
 'DBEM',
 'DBEU',
 'DBEZ',
 'DBGR',
 'DBJP',
 'DBL',
 'DBO',
 'DBP',
 'DBS',
 'DBV',
 'DBVT',
 'DCI',
 'DCIX',
 'DCO',
 'DCOM',
 'DDD',
 'DDF',
 'DDG',
 'DDM',
 'DDS',
 'DE',
 'DECK',
 'DEI',
 'DEM',
 'DENN',
 'DEO',
 'DERM',
 'DES',
 'DEW',
 'DEX',
 'DFE',
 'DFJ',
 'DFP',
 'DFS',
 'DGICA',
 'DGICB',
 'DGII',
 'DGL',
 'DGLY',
 'DGRE',
 'DGRO',
 'DGRS',
 'DGRW',
 'DGS',
 'DGT',
 'DGX',
 'DHF',
 'DHI',
 'DHIL',
 'DHR',
 'DHS',
 'DHT',
 'DHX',
 'DHY',
 'DIA',
 'DIAX',
 'DIG',
 'DIM',
 'DIN',
 'DIOD',
 'DIS',
 ...]

In [15]:
dfAll1 = dfAll.loc[dfAll['Ticker Symbol'].isin(stocks)]
dfAll1.tail(60)

             Date Ticker Symbol Returns    RF
413691 2015-01-01         SP500   -3.11  0.00
413692 2015-02-01         SP500    6.13  0.00
413693 2015-03-01         SP500   -1.12  0.00
413694 2015-04-01         SP500    0.59  0.00
413695 2015-05-01         SP500    1.36  0.00
413696 2015-06-01         SP500   -1.53  0.00
413697 2015-07-01         SP500    1.54  0.00
413698 2015-08-01         SP500   -6.04  0.00
413699 2015-09-01         SP500   -3.08  0.00
413700 2015-10-01         SP500    7.75  0.00
413701 2015-11-01         SP500    0.56  0.00
413702 2015-12-01         SP500   -2.16  0.01
413703 2016-01-01         SP500   -5.76  0.01
413704 2016-02-01         SP500   -0.05  0.02
413705 2016-03-01         SP500    6.98  0.02
413706 2016-04-01         SP500    0.93  0.01
413707 2016-05-01         SP500    1.79  0.01
413708 2016-06-01         SP500   -0.03  0.02
413709 2016-07-01         SP500    3.97  0.02
413710 2016-08-01         SP500    0.52  0.02
413711 2016-09-01         SP500    0.27  0.02
413712 2016-10-01         SP500      -2  0.02
413713 2016-11-01         SP500    4.87  0.01
413714 2016-12-01         SP500    1.85  0.03
413715 2017-01-01         SP500    1.98  0.04
413716 2017-02-01         SP500    3.61  0.04
413717 2017-03-01         SP500     0.2  0.03
413718 2017-04-01         SP500    1.14  0.05
413719 2017-05-01         SP500    1.12  0.06
413720 2017-06-01         SP500    0.84  0.06
413721 2017-07-01         SP500    1.94  0.07
413722 2017-08-01         SP500    0.25  0.09
413723 2017-09-01         SP500     2.6  0.09
413724 2017-10-01         SP500    2.34  0.09
413725 2017-11-01         SP500     3.2  0.08
413726 2017-12-01         SP500    1.15  0.09
413727 2018-01-01         SP500    5.69  0.11
413728 2018-02-01         SP500   -3.54  0.11
413729 2018-03-01         SP500   -2.23  0.12
413730 2018-04-01         SP500    0.43  0.14
413731 2018-05-01         SP500    2.79  0.14
413732 2018-06-01         SP500    0.62  0.14
413733 2018-07-01         SP500    3.35  0.16
413734 2018-08-01         SP500     3.6  0.16
413735 2018-09-01         SP500    0.21  0.15
413736 2018-10-01         SP500   -7.49  0.19
413737 2018-11-01         SP500    1.87  0.18
413738 2018-12-01         SP500   -9.36  0.19
413739 2019-01-01         SP500    8.62  0.21
413740 2019-02-01         SP500    3.58  0.18
413741 2019-03-01         SP500    1.29  0.19
413742 2019-04-01         SP500    4.17  0.21
413743 2019-05-01         SP500   -6.73  0.21
413744 2019-06-01         SP500    7.11  0.18
413745 2019-07-01         SP500    1.38  0.19
413746 2019-08-01         SP500   -2.42  0.16
413747 2019-09-01         SP500    1.62  0.18
413748 2019-10-01         SP500    2.21  0.15
413749 2019-11-01         SP500    3.99  0.12
413750 2019-12-01         SP500    2.91  0.14

In [219]:
df_row = web.DataReader('VEA','yahoo','2014-12-21','2020-02-01')
df_row = df_row.reset_index()
df_row = df_row[['Date','Adj Close']]
df_row = df_row.resample('M', on='Date').last()
df_row = df_row[['Adj Close']]
df_row['Monthly Return'] = df_row['Adj Close'].pct_change()*100
df_row['ROW']=df_row['Monthly Return']
df_row = df_row[['ROW']]
df_row = df_row.reset_index()
df_row = df_row[(df_row['Date'] > '2014-12-31') & (df_row['Date'] < '2018-01-20')]
df_row = df_row.set_index('Date')
df_row['RiskFree']=fama1['RF'].iloc[-63:-27].values
df_row['ExcessReturn']=df_row['ROW']-df_row['RiskFree']
row = df_row['ExcessReturn'].values
row

array([ 0.7127538 ,  6.1599019 , -1.21833511,  3.86640908, -0.04837092,
       -2.9107556 ,  1.46278837, -7.23340286, -4.08032533,  6.73400445,
       -0.76236966, -2.14359917, -5.53833554, -3.10446529,  7.17096381,
        2.30324499, -0.30965469, -2.07967061,  4.13721452,  0.38729469,
        1.61785893, -2.42580591, -1.51638177,  2.41851907,  3.62722434,
        1.01593714,  3.02843938,  2.16374528,  3.35050747,  0.57727504,
        2.80993648, -0.06646896,  2.4243013 ,  1.68378009,  0.78011653,
        1.56415031])

In [70]:
###Beta calculations###
###Want monthly return beta from 2015 to 2017###
dfAll1.reset_index()
dfBeta = dfAll1[(dfAll1['Date'] > '2014-12-31') & (dfAll1['Date'] < '2017-12-31')]
dfBeta = dfBeta.reset_index()
dfBeta = dfBeta[['Date','Ticker Symbol','Returns','RF']]
dfBeta

             Date Ticker Symbol Returns    RF
0      2015-01-01          JJSF -9.7913   NaN
1      2015-02-01          JJSF  3.1288   NaN
2      2015-03-01          JJSF   5.801   NaN
3      2015-04-01          JJSF -2.2212   NaN
4      2015-05-01          JJSF   3.326   NaN
...           ...           ...     ...   ...
159403 2017-08-01         SP500    0.25  0.09
159404 2017-09-01         SP500     2.6  0.09
159405 2017-10-01         SP500    2.34  0.09
159406 2017-11-01         SP500     3.2  0.08
159407 2017-12-01         SP500    1.15  0.09

[159408 rows x 4 columns]

In [220]:
symbols = dfBeta.groupby('Ticker Symbol')
market_df = symbols.get_group('SP500')
market_df = market_df[['Date','Returns']].set_index('Date')
table = dfBeta.pivot(index='Date',columns='Ticker Symbol',values='Returns')  
table['RiskFree'] = fama1['RF'].iloc[-63:-27].values
table['ROW'] = row
table1 = table.reset_index()
table1

Ticker Symbol,Date,A,AADR,AAL,AAMC,AAME,AAN,AAOI,AAON,AAP,...,ZIXI,ZMLP,ZN,ZNGA,ZNH,ZTR,ZTS,ZUMZ,RiskFree,ROW
0,2015-01-01,-7.4988,-2.5773,-8.4841,-48.4071,-0.9926,3.5656,-20.3209,-2.5904,-0.1758,...,-1.6667,0.4197,9.4891,-3.7594,10.8787,-1.2134,-0.5043,-3.4688,0.00,0.712754
1,2015-02-01,11.7554,7.5791,-2.2005,10.6563,0.2506,-5.8433,39.5973,3.2095,-2.5598,...,12.9944,2.706,30.6667,-10.1563,-5.9245,2.3127,7.8633,4.103,0.00,6.159902
2,2015-03-01,-1.3267,-1.2917,10.1879,4.5637,0.75,-4.9547,11.218,8.9738,-3.3434,...,-1.75,-4.6253,-11.2245,23.913,44.5648,-1.495,0.4339,3.6837,0.00,-1.218335
3,2015-04-01,-0.4332,4.0653,-8.327,20.9961,-1.2407,20.0989,2.8818,-2.2829,-4.4692,...,8.397,6.4739,16.092,-14.0351,36.071,-0.0804,-3.8605,-21.2174,0.00,3.866409
4,2015-05-01,-0.4351,0.0124,-12.2502,-23.933,-4.0404,3.0294,25.07,-1.2516,7.1469,...,7.7465,-4.9292,-1.9802,20.4082,1.407,-0.4492,12.0441,-5.8341,0.00,-0.048371
5,2015-06-01,-6.0937,-3.6773,-5.747,-15.3178,-4.7368,3.4342,-2.7996,-4.3937,4.0008,...,12.6362,-10.1211,-3.5354,-3.0509,17.3135,-2.9859,-3.1143,-10.8172,0.00,-2.910756
6,2015-07-01,6.1431,3.6491,0.4132,-8.1225,2.7624,2.1265,12.0392,-1.4654,9.3666,...,-5.6093,-5.0702,-7.8534,-13.2867,-14.9349,-0.9505,1.5761,-1.9902,0.00,1.462788
7,2015-08-01,-11.3309,-6.8414,-2.5436,-70.9663,-3.2258,1.8118,5.964,-6.8049,0.597,...,-10.2459,-4.5993,-15.3409,2.0161,-36.6937,-5.7659,-8.2217,-10.6897,0.00,-7.233403
8,2015-09-01,-5.1776,-4.1935,-0.3848,-37.776,12.2222,-4.0292,-8.8792,-6.2863,8.1826,...,-3.8813,-13.5602,-4.0268,-9.8814,17.142,-3.4341,-8.2238,-32.9472,0.00,-4.080325
9,2015-10-01,9.9913,8.6139,19.0317,2.714,9.1584,-31.681,9.7977,5.6244,4.6958,...,23.0404,8.6939,39.8601,3.9474,15.2352,6.4781,4.4439,11.8362,0.00,6.734004
10,2015-11-01,10.7521,1.032,-10.5149,-31.0569,8.39,-1.5201,-9.0689,21.2506,-17.9912,...,8.3012,-10.7365,-2,8.8608,-12.1054,1.7482,8.7724,-13.6728,0.00,-0.762370
11,2015-12-01,0.2511,-1.4688,2.6418,1.1792,4.3933,-7.7462,-8.48,-6.0299,-7.4725,...,-9.4474,-14.4712,-5.102,3.876,3.0246,1.0811,2.6124,0.1988,0.01,-2.143599
12,2016-01-01,-9.9498,-6.3562,-7.9339,-9.965,-12.6252,2.1885,-4.6037,-7.2782,1.0232,...,-11.6142,-10.4807,-1.0753,-8.209,-21.4679,-6.3218,-9.9645,19.7751,0.01,-5.538336
13,2016-02-01,-0.7968,-0.2217,5.4116,10.0324,-4.3578,0.4808,9.8961,15.1881,-2.3742,...,-11.1359,-8.9122,-4.8913,-14.2276,-5.6075,0.929,-4.6225,14.0806,0.02,-3.104465
14,2016-03-01,6.6934,6.7619,0.0244,-30.5882,6.7146,9.2866,-17.1206,12.9032,8.0571,...,-1.5038,12.9055,0.5714,8.0569,10.4668,5.472,7.964,-3.5818,0.02,7.170964
15,2016-04-01,2.9737,-0.3283,-15.4109,41.9491,-5.618,4.4223,-24.8826,-5.2857,-2.6444,...,-5.0891,15.7585,0.5682,4.386,-1.2484,3.3528,6.305,-15.763,0.01,2.303245
16,2016-05-01,12.1457,0.8779,-7.7256,13.9104,-11.9617,-4.235,-5.8036,3.4691,-1.4478,...,7.7748,2.6016,-10.7345,7.9832,-4.0194,-2.5163,0.8293,-11.323,0.01,-0.309655
17,2016-06-01,-3.0835,1.0941,-11.2817,-23.6373,7.6087,-12.6892,5.6872,0.656,5.1027,...,-6.7164,3.8727,-12.0253,-3.1128,-1.7225,2.3609,0.2847,-3.8306,0.02,-2.079671
18,2016-07-01,8.4536,4.1262,25.3974,-11.7364,6.5657,9.4107,6.1883,-3.7441,5.0919,...,8.2667,1.944,1.4388,15.261,16.3215,4.256,6.3422,18.6583,0.02,4.137215
19,2016-08-01,-2.3488,-1.0618,2.5352,9.8756,-14.218,1.8163,42.3142,6.8731,-7.3472,...,-6.1576,0.5951,-0.7092,-4.878,-9.7767,0.5873,1.2483,-1.649,0.02,0.387295
20,2016-09-01,0.4789,1.3404,0.854,30.9271,-10.4972,4.3514,31.8101,1.8375,-5.2103,...,7.6115,-0.5683,0,6.5934,-5.8528,-1.9209,1.7808,7.7844,0.02,1.617859
21,2016-10-01,-7.475,2.7107,10.8987,84.5946,25,-2.7931,-13.4174,3.9209,-6.0622,...,-0.7317,-3.9296,-4.2857,-3.4364,-0.2131,-1.9684,-8.0946,23.6111,0.02,-2.425806
22,2016-11-01,0.941,-2.3966,14.6305,-15.5198,-1.2346,17.847,28.8092,10.2838,21.1593,...,9.3366,2.9366,-1.4925,1.7794,2.2784,-2.7973,5.5962,11.4607,0.01,-1.516382
23,2016-12-01,3.8927,-1.1589,0.5383,85.4419,2.5,9.9502,-5.3694,0.4559,-0.3182,...,11.0112,3.4887,3.7879,-10.1399,-10.5117,8.0267,6.2525,-11.8952,0.03,2.418519
24,2017-01-01,7.4846,10.0556,-5.226,17.3832,-8.5366,-3.2823,31.2287,2.7232,-2.8855,...,-3.4413,4.2395,-4.3796,-1.9455,12.641,-1.2209,2.8302,-8.238,0.04,3.627224
25,2017-02-01,4.758,1.5604,4.9944,11.9427,2.6667,-11.8293,49.2848,-0.8837,-4.6456,...,5.0315,-1.3732,-0.7634,5.1587,12.6727,3.484,-2.9669,1.7456,0.04,1.015937
26,2017-03-01,3.3177,4.008,-8.7576,7.0412,3.8961,9.1184,22.2779,5.052,-5.2934,...,-3.992,-1.1335,-7.6923,7.5472,1.9001,2.5346,0.1125,-10.2941,0.03,3.028439
27,2017-04-01,4.1233,1.3487,0.7565,1.3289,-0.75,20.8473,-12.0392,3.6775,-4.1279,...,12.8898,-2.0767,6.6667,1.4035,-1.6842,5.9881,5.3307,-1.9126,0.05,2.163745
28,2017-05-01,9.6094,0.2535,13.8198,19.3443,-8.8608,1.6138,41.3646,-1.296,-5.9871,...,6.2615,-4.9429,7.8125,21.7993,17.3142,2.4574,10.9963,-20.6128,0.06,3.350507
29,2017-06-01,-1.4882,-0.962,3.9455,0.4387,4.1667,6.5923,-11.501,2.2253,-12.7067,...,-1.3865,0.2231,148.551,3.4091,9.8601,1.7013,0.3292,-13.3333,0.06,0.577275
30,2017-07-01,0.8093,5.8244,0.2385,0.6573,-5.3333,18.9717,57.7763,-8.2768,-3.9283,...,-6.3269,3.0374,16.9096,-0.8242,-7.8986,4.8574,0.2244,2.834,0.07,2.809936
31,2017-08-01,8.2455,6.2525,-11.1023,-0.3261,-8.4507,-4.3431,-39.3579,-3.5503,-12.5971,...,-0.3752,-5.0964,-16.7082,3.8781,1.2326,1.0899,0.2879,-1.9685,0.09,-0.066469
32,2017-09-01,-0.8035,5.8846,6.1466,-12.5409,0,-1.3836,9.3877,5.7515,1.3892,...,-7.9096,1.4874,2.0958,0.8,-10.9585,1.2395,1.6906,45.3815,0.09,2.424301
33,2017-10-01,6.1713,3.4173,-1.4108,5.2057,10.7692,-15.6544,-37.0032,1.5228,-17.6008,...,-0.818,-2.9247,-24.6334,3.1746,7.5938,1.9167,0.0941,-2.4862,0.09,1.683780
34,2017-11-01,1.7786,-2.8696,8.0521,-14.6667,0,2.5,7.1674,4.5143,23.5625,...,-9.2783,-2.0168,-21.0117,5.1282,21.6063,0.7721,13.4362,23.5127,0.08,0.780117
35,2017-12-01,-3.0633,5.6049,3.0501,13.3333,-5.5556,5.7264,-13.3761,0.6859,-1.2376,...,-0.4545,3.8948,6.4039,-2.439,15.2324,1.3728,-0.3458,-4.4725,0.09,1.564150

In [221]:
beta_df = []
for stock in stocks:
    table1[stock] = table1[stock]-table1['RiskFree']
    beta_df.append({'Date':table1['Date'], 'Ticker':stock, 'ExcessReturn': table1[stock]})
beta_df = pd.DataFrame(beta_df)
beta_df1 = beta_df.set_index(['Ticker']).apply(pd.Series.explode).reset_index()

In [224]:
beta_df2 = beta_df1.pivot(index='Date',columns='Ticker',values='ExcessReturn')
beta_df2

Ticker,A,AADR,AAL,AAMC,AAME,AAN,AAOI,AAON,AAP,AAPL,...,ZION,ZIOP,ZIXI,ZMLP,ZN,ZNGA,ZNH,ZTR,ZTS,ZUMZ
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-01,-7.4988,-2.5773,-8.4841,-48.4071,-0.9926,3.5656,-20.3209,-2.5904,-0.1758,6.1424,...,-15.9593,76.5286,-1.6667,0.4197,9.4891,-3.7594,10.8787,-1.2134,-0.5043,-3.4688
2015-02-01,11.7554,7.5791,-2.2005,10.6563,0.2506,-5.8433,39.5973,3.2095,-2.5598,10.0461,...,11.7488,25.8101,12.9944,2.706,30.6667,-10.1563,-5.9245,2.3127,7.8633,4.103
2015-03-01,-1.3267,-1.2917,10.1879,4.5637,0.75,-4.9547,11.218,8.9738,-3.3434,-3.1372,...,0.9912,-4.3517,-1.75,-4.6253,-11.2245,23.913,44.5648,-1.495,0.4339,3.6837
2015-04-01,-0.4332,4.0653,-8.327,20.9961,-1.2407,20.0989,2.8818,-2.2829,-4.4692,0.5786,...,4.9444,-18.1987,8.397,6.4739,16.092,-14.0351,36.071,-0.0804,-3.8605,-21.2174
2015-05-01,-0.4351,0.0124,-12.2502,-23.933,-4.0404,3.0294,25.07,-1.2516,7.1469,4.5146,...,2.1352,7.605,7.7465,-4.9292,-1.9802,20.4082,1.407,-0.4492,12.0441,-5.8341
2015-06-01,-6.0937,-3.6773,-5.747,-15.3178,-4.7368,3.4342,-2.7996,-4.3937,4.0008,-3.7266,...,9.8857,26.5823,12.6362,-10.1211,-3.5354,-3.0509,17.3135,-2.9859,-3.1143,-10.8172
2015-07-01,6.1431,3.6491,0.4132,-8.1225,2.7624,2.1265,12.0392,-1.4654,9.3666,-3.2888,...,-1.7173,11.3333,-5.6093,-5.0702,-7.8534,-13.2867,-14.9349,-0.9505,1.5761,-1.9902
2015-08-01,-11.3309,-6.8414,-2.5436,-70.9663,-3.2258,1.8118,5.964,-6.8049,0.597,-6.6117,...,-6.8291,-34.8054,-10.2459,-4.5993,-15.3409,2.0161,-36.6937,-5.7659,-8.2217,-10.6897
2015-09-01,-5.1776,-4.1935,-0.3848,-37.776,12.2222,-4.0292,-8.8792,-6.2863,8.1826,-2.1816,...,-5.0345,3.4443,-3.8813,-13.5602,-4.0268,-9.8814,17.142,-3.4341,-8.2238,-32.9472
2015-10-01,9.9913,8.6139,19.0317,2.714,9.1584,-31.681,9.7977,5.6244,4.6958,8.3409,...,4.4662,26.4151,23.0404,8.6939,39.8601,3.9474,15.2352,6.4781,4.4439,11.8362
2015-11-01,10.7521,1.032,-10.5149,-31.0569,8.39,-1.5201,-9.0689,21.2506,-17.9912,-0.569,...,4.3448,14.8376,8.3012,-10.7365,-2,8.8608,-12.1054,1.7482,8.7724,-13.6728
2015-12-01,0.2411,-1.4788,2.6318,1.1692,4.3833,-7.7562,-8.49,-6.0399,-7.4825,-11.0328,...,-8.8885,-36.4779,-9.4574,-14.4812,-5.112,3.866,3.0146,1.0711,2.6024,0.1888
2016-01-01,-9.9598,-6.3662,-7.9439,-9.975,-12.6352,2.1785,-4.6137,-7.2882,1.0132,-7.5342,...,-16.9331,-40.2025,-11.6242,-10.4907,-1.0853,-8.219,-21.4779,-6.3318,-9.9745,19.7651
2016-02-01,-0.8168,-0.2417,5.3916,10.0124,-4.3778,0.4608,9.8761,15.1681,-2.3942,-0.1535,...,-5.7519,58.1289,-11.1559,-8.9322,-4.9113,-14.2476,-5.6275,0.909,-4.6425,14.0606
2016-03-01,6.6734,6.7419,0.0044,-30.6082,6.6946,9.2666,-17.1406,12.8832,8.0371,12.7011,...,13.5353,-5.618,-1.5238,12.8855,0.5514,8.0369,10.4468,5.452,7.944,-3.6018
2016-04-01,2.9637,-0.3383,-15.4209,41.9391,-5.628,4.4123,-24.8926,-5.2957,-2.6544,-14.0021,...,13.662,5.9199,-5.0991,15.7485,0.5582,4.376,-1.2584,3.3428,6.295,-15.773
2016-05-01,12.1357,0.8679,-7.7356,13.9004,-11.9717,-4.245,-5.8136,3.4591,-1.4578,7.1268,...,2.0249,-0.9006,7.7648,2.5916,-10.7445,7.9732,-4.0294,-2.5263,0.8193,-11.333
2016-06-01,-3.1035,1.0741,-11.3017,-23.6573,7.5887,-12.7092,5.6672,0.636,5.0827,-4.286,...,-10.3341,-29.545,-6.7364,3.8527,-12.0453,-3.1328,-1.7425,2.3409,0.2647,-3.8506
2016-07-01,8.4336,4.1062,25.3774,-11.7564,6.5457,9.3907,6.1683,-3.7641,5.0719,8.9863,...,10.9231,-11.4954,8.2467,1.924,1.4188,15.241,16.3015,4.236,6.3222,18.6383
2016-08-01,-2.3688,-1.0818,2.5152,9.8556,-14.238,1.7963,42.2942,6.8531,-7.3672,2.3406,...,9.9872,4.301,-6.1776,0.5751,-0.7292,-4.898,-9.7967,0.5673,1.2283,-1.669
2016-09-01,0.4589,1.3204,0.834,30.9071,-10.5172,4.3314,31.7901,1.8175,-5.2303,6.5304,...,1.3857,11.0254,7.5915,-0.5883,-0.02,6.5734,-5.8728,-1.9409,1.7608,7.7644
2016-10-01,-7.495,2.6907,10.8787,84.5746,24.98,-2.8131,-13.4374,3.9009,-6.0822,0.4134,...,3.8162,0.8681,-0.7517,-3.9496,-4.3057,-3.4564,-0.2331,-1.9884,-8.1146,23.5911
2016-11-01,0.931,-2.4066,14.6205,-15.5298,-1.2446,17.837,28.7992,10.2738,21.1493,-2.1678,...,23.7714,14.0745,9.3266,2.9266,-1.5025,1.7694,2.2684,-2.8073,5.5862,11.4507
2016-12-01,3.8627,-1.1889,0.5083,85.4119,2.47,9.9202,-5.3994,0.4259,-0.3482,4.7655,...,8.1379,-17.4683,10.9812,3.4587,3.7579,-10.1699,-10.5417,7.9967,6.2225,-11.9252
2017-01-01,7.4446,10.0156,-5.266,17.3432,-8.5766,-3.3223,31.1887,2.6832,-2.9255,4.7346,...,-2.0149,10.6142,-3.4813,4.1995,-4.4196,-1.9855,12.601,-1.2609,2.7902,-8.278
2017-02-01,4.718,1.5204,4.9544,11.9027,2.6267,-11.8693,49.2448,-0.9237,-4.6856,13.3181,...,6.5729,7.2235,4.9915,-1.4132,-0.8034,5.1187,12.6327,3.444,-3.0069,1.7056
2017-03-01,3.2877,3.978,-8.7876,7.0112,3.8661,9.0884,22.2479,5.022,-5.3234,4.839,...,-6.4888,-0.1875,-4.022,-1.1635,-7.7223,7.5172,1.8701,2.5046,0.0825,-10.3241
2017-04-01,4.0733,1.2987,0.7065,1.2789,-0.8,20.7973,-12.0892,3.6275,-4.1779,-0.057,...,-4.7405,10.991,12.8398,-2.1267,6.6167,1.3535,-1.7342,5.9381,5.2807,-1.9626
2017-05-01,9.5494,0.1935,13.7598,19.2843,-8.9208,1.5538,41.3046,-1.356,-6.0471,6.7204,...,0.2398,-16.9634,6.2015,-5.0029,7.7525,21.7393,17.2542,2.3974,10.9363,-20.6728
2017-06-01,-1.5482,-1.022,3.8855,0.3787,4.1067,6.5323,-11.561,2.1653,-12.7667,-5.7814,...,9.5232,6.2648,-1.4465,0.1631,148.491,3.3491,9.8001,1.6413,0.2692,-13.3933
2017-07-01,0.7393,5.7544,0.1685,0.5873,-5.4033,18.9017,57.7063,-8.3468,-3.9983,3.2004,...,3.1411,-11.1632,-6.3969,2.9674,16.8396,-0.8942,-7.9686,4.7874,0.1544,2.764
2017-08-01,8.1555,6.1625,-11.1923,-0.4161,-8.5407,-4.4331,-39.4479,-3.6403,-12.6871,10.6005,...,-3.4881,15.4615,-0.4652,-5.1864,-16.7982,3.7881,1.1426,0.9999,0.1979,-2.0585
2017-09-01,-0.8935,5.7946,6.0566,-12.6309,-0.09,-1.4736,9.2977,5.6615,1.2992,-6.1144,...,7.9723,-4.0024,-7.9996,1.3974,2.0058,0.71,-11.0485,1.1495,1.6006,45.2915
2017-10-01,6.0813,3.3273,-1.5008,5.1157,10.6792,-15.7444,-37.0932,1.4328,-17.6908,9.5908,...,-1.6161,-24.1942,-0.908,-3.0147,-24.7234,3.0846,7.5038,1.8267,0.0041,-2.5762
2017-11-01,1.6986,-2.9496,7.9721,-14.7467,-0.08,2.42,7.0874,4.4343,23.4825,1.955,...,6.9153,-2.0113,-9.3583,-2.0968,-21.0917,5.0482,21.5263,0.6921,13.3562,23.4327
2017-12-01,-3.1533,5.5149,2.9601,13.2433,-5.6456,5.6364,-13.4661,0.5959,-1.3276,-1.6146,...,2.4933,-9.4992,-0.5445,3.8048,6.3139,-2.529,15.1424,1.2828,-0.4358,-4.5625

In [258]:
y = beta_df2[['A']].values
x = beta_df2[['SP500', 'ROW']] 
regr = linear_model.LinearRegression()
regr.fit(x, y)
model = sm.OLS(y.astype(float), x.astype(float)).fit()
beta = model.params
beta

SP500    1.119877
ROW      0.489889
dtype: float64

In [244]:
equities = beta_df2.columns
main_df = []
for equity in equities:
    y = beta_df2[[equity]].values
    x = beta_df2[['SP500', 'ROW']] 
    regr = linear_model.LinearRegression()
    regr.fit(x, y)
    model = sm.OLS(y.astype(float), x.astype(float)).fit()
    predictions = model.predict(x) 
    beta = regr.coef_
    main_df.append({'Ticker':equity, 'Beta': beta})
main_df = pd.DataFrame(main_df)
main_df

     Ticker                                         Beta
0         A   [[1.0889451765621174, 0.4969234397292245]]
1      AADR  [[0.15184913069105604, 0.8765460670815707]]
2       AAL  [[1.9518373503314175, -0.9137785933137746]]
3      AAMC  [[-1.6299872789330803, 3.8696182892071396]]
4      AAME  [[0.7371771864114728, -0.4374979928596947]]
...     ...                                          ...
4424   ZNGA  [[0.4468068496401524, 0.08569497293798059]]
4425    ZNH  [[-0.2126681821446833, 1.7233289198315018]]
4426    ZTR  [[0.21889372375032334, 0.5668600560331408]]
4427    ZTS  [[0.9264466268685723, 0.34339524020662293]]
4428   ZUMZ  [[2.6757816065783158, -1.9049492804555255]]

[4429 rows x 2 columns]

In [313]:
equities = beta_df2.columns
main_df = []
for equity in equities:    
    y = beta_df2[[equity]].values
    x = beta_df2[['SP500', 'ROW']] 
    regr = linear_model.LinearRegression()
    regr.fit(x, y)
    model = sm.OLS(y.astype(float), x.astype(float)).fit()
    beta = model.params 
    main_df.append({'Ticker':equity, 'Beta': beta[0], 'Gamma': beta[1]})
main_df = pd.DataFrame(main_df)
main_df

     Ticker      Beta     Gamma
0         A  1.119877  0.489889
1      AADR  0.226513  0.859566
2       AAL  1.854276 -0.891591
3      AAMC -1.650759  3.874342
4      AAME  0.673115 -0.422929
...     ...       ...       ...
4424   ZNGA  0.574119  0.056742
4425    ZNH  0.077873  1.657254
4426    ZTR  0.246025  0.560690
4427    ZTS  0.989983  0.328946
4428   ZUMZ  2.454939 -1.854725

[4429 rows x 3 columns]

In [315]:
main_df1 = main_df.set_index('Ticker')
#main_df1.to_excel('beta_regression.xlsx')

In [299]:
x = main_df1.index
drop = x[3433]
x = x.drop(drop)

In [303]:
df_stock_returns = dfAll1[(dfAll1['Date'] > '2017-12-20') & (dfAll1['Date'] < '2019-12-31')]
stock_annual_returns = df_stock_returns.loc[df_stock_returns['Ticker Symbol'].isin(stocks)]
stock_returns = stock_annual_returns.pivot(index='Date',columns='Ticker Symbol',values='Returns')
stock_returns['Risk Free Rate'] = fama1['RF'].iloc[-27:-3].values
stock_returns = stock_returns.reset_index()
stock_returns_previous = []
for equity in x:
    excess_returns = stock_returns[equity]-stock_returns['Risk Free Rate']
    stock_returns_previous.append({'Ticker':equity, 'Excess Return': stock_returns[equity].sum()})
stock_returns_previous = pd.DataFrame(stock_returns_previous)
stock_returns_previous

     Ticker  Excess Return
0         A        32.0401
1      AADR        -3.9323
2       AAL       -42.2322
3      AAMC      -138.4771
4      AAME       -42.4079
...     ...            ...
4423   ZNGA        52.4130
4424    ZNH       -18.9222
4425    ZTR        12.9024
4426    ZTS        65.6205
4427   ZUMZ        79.2374

[4428 rows x 2 columns]

In [314]:
stock_returns_previous['Annual Excess Return'] = stock_returns_previous['Excess Return']/2
excess_return_df = stock_returns_previous[['Ticker', 'Annual Excess Return']].set_index('Ticker')
#excess_return_df.to_excel('ExcessReturnRegression.xlsx')

In [319]:
main = pd.read_excel('beta_regression_gammasorted.xlsx')

In [330]:
x = main.columns[2]
type(x)

str

In [333]:
###gamma of each portfolio sorted from highest to lowest beta
group_size = 442
portfolios = [main.iloc[i:i+group_size] for i in range(0,len(main)-group_size+1,group_size)]   
for portfolio in portfolios:
    print(portfolio['Gamma'].mean())

2.092397550756023
1.0280464625114907
0.6514328866163673
0.4018926848632953
0.19746906353652138
-0.011846939603507058
-0.24639305217124755
-0.5526691196876258
-0.9577756048578648
-1.8306288101295298

In [323]:
###annual returns of each portfolio sorted from highest to lowest gamma
group_size = 442
portfolios = [main.iloc[i:i+group_size] for i in range(0,len(main)-group_size+1,group_size)]   
for portfolio in portfolios:
    print(portfolio['Annual Excess Return'].mean())

3.597827375565609
3.5068822398190056
7.3935423076923055
6.898510180995477
7.701186312217194
7.674458710407236
6.652574886877828
4.561608936651586
7.23288190045249
4.731469004524883