In [1]:
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import math
import datetime as dt
import matplotlib as mpl
import matplotlib.pyplot as plt
import statistics as stats
import scipy
from scipy.stats.stats import pearsonr
from matplotlib import style
import warnings
import seaborn as sns
import requests
import bs4 as bs
import os
import csv
from openpyxl.workbook import Workbook as wb
from openpyxl import load_workbook
from openpyxl.styles import Font
from openpyxl.utils.dataframe import dataframe_to_rows
warnings.filterwarnings('ignore')

In [2]:
'''USE FF_Research_Data, col (RM-RF) + col (RF) = RM(t) to generate beta
Annual Excess Return: rp(t) – RF(t) , where RF(t) comes from FF.
R_j(t) = RF(t) + beta_j*( RM-RF  ), rewrite differently
R_j(t) – RF(t) =  ( RM(t)-RF(t)  )*beta_j'''

'USE FF_Research_Data, col (RM-RF) + col (RF) = RM(t) to generate beta\nAnnual Excess Return: rp(t) – RF(t) , where RF(t) comes from FF.\nR_j(t) = RF(t) + beta_j*( RM-RF  ), rewrite differently\nR_j(t) – RF(t) =  ( RM(t)-RF(t)  )*beta_j'

In [3]:
data = pd.read_excel('stock_returns_data.xlsx')

In [4]:
df = data[['Names Date','Ticker Symbol','Returns']]

In [5]:
df = df[pd.to_numeric(df['Returns'], errors='coerce').notnull()]

In [6]:
df['Date'] = df['Names Date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
#df['Date'] = df['Names Date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m'))
df
#date = dt(year=int(dates[0:4]), month=int(dates[4:6]), day=int(dates[6:8]))
#int2date(dates)

         Names Date Ticker Symbol   Returns       Date
0          20070131          EWST  0.023279 2007-01-31
1          20070228          EWST  0.261621 2007-02-28
2          20070330          EWST  0.019732 2007-03-30
3          20070430          EWST  0.002764 2007-04-30
4          20070531          EWST  0.043418 2007-05-31
...             ...           ...       ...        ...
1048568    20191129            VT  0.025614 2019-11-29
1048569    20191231            VT  0.034494 2019-12-31
1048572    20080731           SZR  0.076445 2008-07-31
1048573    20080829           SZR -0.040735 2008-08-29
1048574    20080930           SZR -0.063134 2008-09-30

[1021412 rows x 4 columns]

In [7]:
df['Returns']=df['Returns']*100
df1 = df[['Date','Ticker Symbol','Returns']]
df1['Date'] = df1['Date'].map(lambda x: 100*x.year + x.month)
df1['Date'] = df1['Date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m'))
df1

              Date Ticker Symbol  Returns
0       2007-01-01          EWST   2.3279
1       2007-02-01          EWST  26.1621
2       2007-03-01          EWST   1.9732
3       2007-04-01          EWST   0.2764
4       2007-05-01          EWST   4.3418
...            ...           ...      ...
1048568 2019-11-01            VT   2.5614
1048569 2019-12-01            VT   3.4494
1048572 2008-07-01           SZR   7.6445
1048573 2008-08-01           SZR  -4.0735
1048574 2008-09-01           SZR  -6.3134

[1021412 rows x 3 columns]

In [8]:
#df1 = df1[(df1['Date'] > '2015-01-31') & (df1['Date'] < '2020-01-31')]
df1 = df1[(df1['Date'] > '2014-12') & (df1['Date'] < '2020-01')]
df1.head(50)

          Date Ticker Symbol  Returns
96  2015-01-01          EGAS -11.5245
97  2015-02-01          EGAS   3.5897
98  2015-03-01          EGAS  -0.0495
99  2015-04-01          EGAS   1.1044
100 2015-05-01          EGAS  -0.6951
101 2015-06-01          EGAS        3
102 2015-07-01          EGAS  -1.3107
103 2015-08-01          EGAS -11.1665
104 2015-09-01          EGAS   0.3367
105 2015-10-01          EGAS   0.1678
106 2015-11-01          EGAS   -0.907
107 2015-12-01          EGAS -13.2151
108 2016-01-01          EGAS  11.6779
109 2016-02-01          EGAS  -5.5288
110 2016-03-01          EGAS  -0.6361
111 2016-04-01          EGAS  -5.5698
112 2016-05-01          EGAS  -2.1918
113 2016-06-01          EGAS  -2.1008
114 2016-07-01          EGAS   2.6466
115 2016-08-01          EGAS    3.662
116 2016-09-01          EGAS    4.212
117 2016-10-01          EGAS  61.9948
118 2016-11-01          EGAS   1.2146
119 2016-12-01          EGAS        1
120 2017-01-01          EGAS   0.7968
121 2017-02-01          EGAS        0
122 2017-03-01          EGAS   0.9881
123 2017-04-01          EGAS  -1.5748
124 2017-05-01          EGAS      1.6
125 2017-06-01          EGAS   2.3622
126 2017-07-01          EGAS   0.1934
298 2015-01-01          AEPI -13.8263
299 2015-02-01          AEPI   1.0976
300 2015-03-01          AEPI   8.6459
301 2015-04-01          AEPI  -8.9753
302 2015-05-01          AEPI  -0.1397
303 2015-06-01          AEPI  10.3338
304 2015-07-01          AEPI -12.4094
305 2015-08-01          AEPI  12.6163
306 2015-09-01          AEPI   5.2893
307 2015-10-01          AEPI   39.543
308 2015-11-01          AEPI   13.975
309 2015-12-01          AEPI -15.3871
310 2016-01-01          AEPI  10.0324
311 2016-02-01          AEPI  -7.0061
312 2016-03-01          AEPI -16.1479
313 2016-04-01          AEPI  -6.2424
314 2016-05-01          AEPI  -2.6286
315 2016-06-01          AEPI  34.0777
316 2016-07-01          AEPI   0.3107

In [9]:
df1 = df1.dropna(subset=['Ticker Symbol'])

In [10]:
fama = pd.read_excel('FF_Research_Data_Factors.xlsx')
fama = fama[['Date','Mkt-RF','RF']]
fama['Returns'] = fama['Mkt-RF']+fama['RF']
fama['Ticker Symbol']='SP500'
fama1 = fama[['Date','Ticker Symbol','Returns','RF']]
fama1['Date'] = fama1['Date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m'))
fama1

           Date Ticker Symbol  Returns    RF
0    1926-07-01         SP500     3.18  0.22
1    1926-08-01         SP500     2.89  0.25
2    1926-09-01         SP500     0.59  0.23
3    1926-10-01         SP500    -2.92  0.32
4    1926-11-01         SP500     2.84  0.31
...         ...           ...      ...   ...
1120 2019-11-01         SP500     3.99  0.12
1121 2019-12-01         SP500     2.91  0.14
1122 2020-01-01         SP500     0.02  0.13
1123 2020-02-01         SP500    -8.01  0.12
1124 2020-03-01         SP500   -13.27  0.12

[1125 rows x 4 columns]

In [11]:
dfAll = pd.concat([df1,fama1])
dfAll = dfAll.reset_index()
#dfAll = dfAll[['Date','Ticker Symbol', 'Returns']]
dfAll = dfAll[(dfAll['Date'] > '2014-12-31') & (dfAll['Date'] < '2019-12-31')]
dfAll = dfAll[['Date','Ticker Symbol','Returns','RF']]
#dfAll = dfAll.set_index('Date')
dfAll

             Date Ticker Symbol  Returns    RF
0      2015-01-01          EGAS -11.5245   NaN
1      2015-02-01          EGAS   3.5897   NaN
2      2015-03-01          EGAS  -0.0495   NaN
3      2015-04-01          EGAS   1.1044   NaN
4      2015-05-01          EGAS  -0.6951   NaN
...           ...           ...      ...   ...
413746 2019-08-01         SP500    -2.42  0.16
413747 2019-09-01         SP500     1.62  0.18
413748 2019-10-01         SP500     2.21  0.15
413749 2019-11-01         SP500     3.99  0.12
413750 2019-12-01         SP500     2.91  0.14

[412689 rows x 4 columns]

In [17]:
#finding stocks in the data (excel sheet) that have data from 2015-2019 (returns) and 2015-2017 (beta)
stock_count = dfAll.groupby('Ticker Symbol')['Returns'].count()
stock_count = stock_count[stock_count == 60]
stocks = [*stock_count.keys()]
stocks

['A',
 'AADR',
 'AAL',
 'AAMC',
 'AAME',
 'AAN',
 'AAOI',
 'AAON',
 'AAP',
 'AAPL',
 'AAT',
 'AAU',
 'AAWW',
 'AB',
 'ABB',
 'ABBV',
 'ABC',
 'ABCB',
 'ABDC',
 'ABEV',
 'ABG',
 'ABIO',
 'ABM',
 'ABMD',
 'ABR',
 'ABT',
 'ACAD',
 'ACC',
 'ACCO',
 'ACGL',
 'ACH',
 'ACHC',
 'ACHN',
 'ACIW',
 'ACLS',
 'ACM',
 'ACN',
 'ACNB',
 'ACOR',
 'ACP',
 'ACRE',
 'ACRX',
 'ACST',
 'ACTG',
 'ACU',
 'ACWI',
 'ACWV',
 'ACWX',
 'ACY',
 'ADBE',
 'ADC',
 'ADI',
 'ADM',
 'ADMA',
 'ADMP',
 'ADMS',
 'ADP',
 'ADRA',
 'ADRD',
 'ADRE',
 'ADRU',
 'ADS',
 'ADSK',
 'ADTN',
 'ADX',
 'ADXS',
 'AE',
 'AEE',
 'AEG',
 'AEGN',
 'AEHR',
 'AEIS',
 'AEL',
 'AEM',
 'AEO',
 'AEP',
 'AER',
 'AERI',
 'AES',
 'AEY',
 'AEZS',
 'AFB',
 'AFG',
 'AFH',
 'AFL',
 'AFMD',
 'AFT',
 'AG',
 'AGCO',
 'AGD',
 'AGEN',
 'AGG',
 'AGI',
 'AGIO',
 'AGNC',
 'AGND',
 'AGO',
 'AGRO',
 'AGRX',
 'AGTC',
 'AGX',
 'AGYS',
 'AGZD',
 'AHC',
 'AHH',
 'AHPI',
 'AHT',
 'AI',
 'AIA',
 'AIF',
 'AIG',
 'AIMC',
 'AIN',
 'AINC',
 'AINV',
 'AIR',
 'AIRI',
 'AIRR',
 'AIRT',
 'AIT',
 'AIV',
 'AIZ',
 'AJG',
 'AKAM',
 'AKBA',
 'AKER',
 'AKG',
 'AKR',
 'AKRX',
 'AKS',
 'AL',
 'ALB',
 'ALCO',
 'ALDX',
 'ALE',
 'ALEX',
 'ALFA',
 'ALG',
 'ALGN',
 'ALGT',
 'ALK',
 'ALKS',
 'ALL',
 'ALLE',
 'ALLT',
 'ALLY',
 'ALNY',
 'ALOT',
 'ALSK',
 'ALSN',
 'ALTS',
 'ALV',
 'ALX',
 'ALXN',
 'AM',
 'AMAG',
 'AMAT',
 'AMBA',
 'AMBC',
 'AMC',
 'AMCX',
 'AMD',
 'AME',
 'AMED',
 'AMG',
 'AMGN',
 'AMH',
 'AMKR',
 'AMLP',
 'AMNB',
 'AMOT',
 'AMOV',
 'AMP',
 'AMPE',
 'AMPH',
 'AMRB',
 'AMRC',
 'AMRK',
 'AMRN',
 'AMRS',
 'AMS',
 'AMSC',
 'AMSF',
 'AMSWA',
 'AMT',
 'AMTD',
 'AMTX',
 'AMWD',
 'AMX',
 'AMZA',
 'AMZN',
 'AN',
 'ANAT',
 'ANDE',
 'ANET',
 'ANF',
 'ANGL',
 'ANGO',
 'ANH',
 'ANIK',
 'ANIP',
 'ANSS',
 'ANTM',
 'ANY',
 'AOD',
 'AON',
 'AOS',
 'AP',
 'APA',
 'APAM',
 'APD',
 'APDN',
 'APEI',
 'APH',
 'APO',
 'APOG',
 'APPS',
 'APT',
 'APTO',
 'APTS',
 'APWC',
 'AR',
 'ARAY',
 'ARC',
 'ARCB',
 'ARCC',
 'ARCO',
 'ARDC',
 'ARDX',
 'ARE',
 'ARES',
 'ARGT',
 'ARKG',
 'ARKK',
 'ARKQ',
 'ARKR',
 'ARKW',
 'ARL',
 'ARLP',
 'ARMK',
 'ARNA',
 'AROW',
 'ARQL',
 'ARR',
 'ARTNA',
 'ARTW',
 'ARW',
 'ARWR',
 'ASA',
 'ASB',
 'ASC',
 'ASEA',
 'ASFI',
 'ASG',
 'ASGN',
 'ASH',
 'ASHR',
 'ASHS',
 'ASM',
 'ASMB',
 'ASML',
 'ASNA',
 'ASPN',
 'ASR',
 'ASTC',
 'ASTE',
 'ASUR',
 'ASX',
 'ASYS',
 'AT',
 'ATEC',
 'ATEN',
 'ATHM',
 'ATHX',
 'ATI',
 'ATLC',
 'ATLO',
 'ATNI',
 'ATNM',
 'ATO',
 'ATOS',
 'ATR',
 'ATRA',
 'ATRC',
 'ATRI',
 'ATRO',
 'ATRS',
 'ATSG',
 'ATTO',
 'ATV',
 'ATVI',
 'AU',
 'AUBN',
 'AUDC',
 'AUPH',
 'AUY',
 'AVA',
 'AVAV',
 'AVB',
 'AVD',
 'AVID',
 'AVK',
 'AVNW',
 'AVP',
 'AVT',
 'AVX',
 'AVY',
 'AWF',
 'AWI',
 'AWK',
 'AWP',
 'AWR',
 'AWRE',
 'AWX',
 'AXAS',
 'AXDX',
 'AXE',
 'AXGN',
 'AXJL',
 'AXL',
 'AXP',
 'AXR',
 'AXS',
 'AXTA',
 'AXTI',
 'AXU',
 'AYI',
 'AYR',
 'AZN',
 'AZO',
 'AZPN',
 'AZZ',
 'B',
 'BA',
 'BABA',
 'BAC',
 'BAF',
 'BAH',
 'BAM',
 'BANC',
 'BANF',
 'BANR',
 'BANX',
 'BAP',
 'BASI',
 'BAX',
 'BBBY',
 'BBC',
 'BBDO',
 'BBF',
 'BBGI',
 'BBH',
 'BBK',
 'BBL',
 'BBN',
 'BBP',
 'BBSI',
 'BBVA',
 'BBW',
 'BBY',
 'BC',
 'BCBP',
 'BCC',
 'BCE',
 'BCEI',
 'BCH',
 'BCLI',
 'BCO',
 'BCOM',
 'BCOR',
 'BCOV',
 'BCPC',
 'BCRH',
 'BCRX',
 'BCS',
 'BCV',
 'BCX',
 'BDC',
 'BDJ',
 'BDL',
 'BDN',
 'BDR',
 'BDSI',
 'BDX',
 'BEAT',
 'BECN',
 'BELFA',
 'BELFB',
 'BEN',
 'BEP',
 'BERY',
 'BFAM',
 'BFIN',
 'BFK',
 'BFO',
 'BFOR',
 'BFS',
 'BFY',
 'BFZ',
 'BG',
 'BGB',
 'BGCP',
 'BGFV',
 'BGG',
 'BGH',
 'BGI',
 'BGR',
 'BGS',
 'BGSF',
 'BGT',
 'BGX',
 'BGY',
 'BHB',
 'BHE',
 'BHK',
 'BHLB',
 'BHP',
 'BHV',
 'BIDU',
 'BIF',
 'BIG',
 'BIIB',
 'BIL',
 'BIOC',
 'BIOL',
 'BIOS',
 'BIP',
 'BIT',
 'BITA',
 'BIV',
 'BIZD',
 'BJK',
 'BJRI',
 'BK',
 'BKCC',
 'BKD',
 'BKE',
 'BKEP',
 'BKF',
 'BKH',
 'BKJ',
 'BKK',
 'BKLN',
 'BKN',
 'BKSC',
 'BKT',
 'BKU',
 'BLCM',
 'BLDP',
 'BLDR',
 'BLE',
 'BLFS',
 'BLIN',
 'BLK',
 'BLKB',
 'BLL',
 'BLMN',
 'BLRX',
 'BLUE',
 'BLV',
 'BLW',
 'BLX',
 'BMA',
 'BME',
 'BMI',
 'BMO',
 'BMRC',
 'BMRN',
 'BMTC',
 'BMY',
 'BND',
 'BNDX',
 'BNFT',
 'BNS',
 'BNSO',
 'BNY',
 'BOCH',
 'BOE',
 'BOH',
 'BOIL',
 'BOKF',
 'BOND',
 'BOOM',
 'BOOT',
 'BOSC',
 'BOTJ',
 'BP',
 'BPFH',
 'BPOP',
 'BPT',
 'BPTH',
 'BPY',
 'BQH',
 'BR',
 'BRC',
 'BREW',
 'BRFS',
 'BRG',
 'BRID',
 'BRKL',
 'BRKR',
 'BRKS',
 'BRN',
 'BRO',
 'BRT',
 'BRX',
 'BRZU',
 'BSAC',
 'BSD',
 'BSE',
 'BSET',
 'BSMX',
 'BSQR',
 'BSRR',
 'BST',
 'BSTC',
 'BSV',
 'BSX',
 'BTA',
 'BTAL',
 'BTE',
 'BTG',
 'BTI',
 'BTN',
 'BTO',
 'BTT',
 'BTZ',
 'BUI',
 'BURL',
 'BUSE',
 'BVN',
 'BVSN',
 'BWA',
 'BWFG',
 'BWG',
 'BWL',
 'BWX',
 'BX',
 'BXC',
 'BXMT',
 'BXMX',
 'BXP',
 'BXS',
 'BYD',
 'BYFC',
 'BYLD',
 'BYM',
 'BZH',
 'BZM',
 'C',
 'CAAS',
 'CAC',
 'CACC',
 'CACI',
 'CAE',
 'CAF',
 'CAG',
 'CAH',
 'CAJ',
 'CAKE',
 'CALA',
 'CALM',
 'CAMP',
 'CAMT',
 'CANE',
 'CANF',
 'CAPL',
 'CAR',
 'CARA',
 'CARO',
 'CART',
 'CARV',
 'CARZ',
 'CASH',
 'CASI',
 'CASS',
 'CASY',
 'CAT',
 'CATM',
 'CATO',
 'CATY',
 'CB',
 'CBAN',
 'CBAY',
 'CBB',
 'CBFV',
 'CBL',
 'CBLI',
 'CBMG',
 'CBON',
 'CBPX',
 'CBRL',
 'CBSH',
 'CBT',
 'CBU',
 'CBZ',
 'CCBG',
 'CCCL',
 'CCF',
 'CCI',
 'CCJ',
 'CCK',
 'CCL',
 'CCLP',
 'CCMP',
 'CCNE',
 'CCO',
 'CCOI',
 'CCRN',
 'CCS',
 'CCU',
 'CCXI',
 'CDC',
 'CDE',
 'CDK',
 'CDNA',
 'CDNS',
 'CDR',
 'CDW',
 'CDZI',
 'CE',
 'CEA',
 'CECE',
 'CECO',
 'CEE',
 'CEL',
 'CELP',
 'CEMB',
 'CEMI',
 'CEN',
 'CENT',
 'CENTA',
 'CENX',
 'CEO',
 'CEQP',
 'CERN',
 'CERS',
 'CET',
 'CETV',
 'CEV',
 'CEVA',
 'CF',
 'CFA',
 'CFBK',
 'CFFI',
 'CFFN',
 'CFG',
 'CFO',
 'CFR',
 'CFRX',
 'CFX',
 'CG',
 'CGEN',
 'CGIX',
 'CGNX',
 'CGO',
 'CHA',
 'CHCI',
 'CHCO',
 'CHD',
 'CHDN',
 'CHE',
 'CHEF',
 'CHEP',
 'CHGG',
 'CHH',
 'CHI',
 'CHK',
 'CHKP',
 'CHKR',
 'CHL',
 'CHMG',
 'CHMI',
 'CHN',
 'CHNR',
 'CHRS',
 'CHRW',
 'CHS',
 'CHT',
 'CHTR',
 'CHU',
 'CHUY',
 'CHW',
 'CHY',
 'CI',
 'CIA',
 'CIDM',
 'CIEN',
 'CIF',
 'CIG',
 'CII',
 'CIK',
 'CIM',
 'CINF',
 'CIO',
 'CIR',
 'CIX',
 'CIZ',
 'CIZN',
 'CKH',
 'CKX',
 'CL',
 'CLB',
 'CLCT',
 'CLDX',
 'CLF',
 'CLFD',
 'CLGX',
 'CLH',
 'CLI',
 'CLIR',
 'CLM',
 'CLMT',
 'CLNE',
 'CLR',
 'CLRB',
 'CLRO',
 'CLS',
 'CLSN',
 'CLUB',
 'CLVS',
 'CLWT',
 'CLX',
 'CM',
 'CMA',
 'CMBS',
 'CMC',
 'CMCM',
 'CMCO',
 'CMCSA',
 'CMCT',
 'CME',
 'CMF',
 'CMG',
 'CMI',
 'CMO',
 'CMP',
 'CMPR',
 'CMRE',
 'CMRX',
 'CMS',
 'CMT',
 'CMTL',
 'CMU',
 'CN',
 'CNA',
 'CNAT',
 'CNBKA',
 'CNC',
 'CNCE',
 'CNHI',
 'CNI',
 'CNK',
 'CNMD',
 'CNO',
 'CNOB',
 'CNP',
 'CNQ',
 'CNS',
 'CNSL',
 'CNTY',
 'CNX',
 'CNXT',
 'CODI',
 'COF',
 'COG',
 'COHR',
 'COHU',
 'COKE',
 'COLB',
 'COLM',
 'COMM',
 'COMT',
 'CONE',
 'CONN',
 'COO',
 'COP',
 'COR',
 'CORE',
 'CORP',
 'CORR',
 'CORT',
 'COST',
 'COT',
 'COTY',
 'CP',
 'CPA',
 'CPAC',
 'CPAH',
 'CPB',
 'CPE',
 'CPER',
 'CPF',
 'CPG',
 'CPHC',
 'CPK',
 'CPL',
 'CPLP',
 'CPRT',
 'CPRX',
 'CPS',
 'CPSI',
 'CPSS',
 'CPST',
 'CPT',
 'CPTA',
 'CQP',
 'CR',
 'CRAI',
 'CRBN',
 'CRC',
 'CRCM',
 'CREE',
 'CRESY',
 'CRF',
 'CRH',
 'CRI',
 'CRIS',
 'CRK',
 'CRL',
 'CRM',
 'CRMT',
 'CRNT',
 'CROC',
 'CROP',
 'CROX',
 'CRS',
 'CRT',
 'CRTO',
 'CRUS',
 'CRVL',
 'CRWS',
 'CRY',
 'CS',
 'CSCO',
 'CSF',
 'CSFL',
 'CSGP',
 'CSGS',
 'CSII',
 'CSIQ',
 'CSL',
 'CSLT',
 'CSOD',
 'CSPI',
 'CSQ',
 'CSS',
 'CSTE',
 'CSTM',
 'CSU',
 'CSV',
 'CSWC',
 'CSX',
 'CTAS',
 'CTB',
 'CTBI',
 'CTG',
 'CTHR',
 'CTIB',
 'CTIC',
 'CTL',
 'CTLT',
 'CTO',
 'CTR',
 'CTRE',
 'CTRN',
 'CTS',
 'CTSH',
 'CTSO',
 'CTT',
 'CTXS',
 'CUB',
 'CUBA',
 'CUBE',
 'CUBI',
 'CUI',
 'CUK',
 'CUO',
 'CURE',
 'CUTR',
 'CUZ',
 'CVA',
 'CVBF',
 'CVCO',
 'CVCY',
 'CVEO',
 'CVGI',
 'CVGW',
 'CVI',
 'CVLT',
 'CVLY',
 'CVM',
 'CVR',
 'CVS',
 'CVTI',
 'CVU',
 'CVV',
 'CVX',
 'CW',
 'CWBC',
 'CWCO',
 'CWI',
 'CWST',
 'CWT',
 'CX',
 'CXE',
 'CXH',
 'CXO',
 'CXP',
 'CXW',
 'CY',
 'CYAN',
 'CYB',
 'CYBE',
 'CYBR',
 'CYCC',
 'CYD',
 'CYH',
 'CYRN',
 'CYTK',
 'CZNC',
 'CZR',
 'CZWI',
 'CZZ',
 'D',
 'DAC',
 'DAIO',
 'DAKT',
 'DAL',
 'DAN',
 'DAR',
 'DB',
 'DBA',
 'DBAW',
 'DBB',
 'DBC',
 'DBD',
 'DBE',
 'DBEF',
 'DBEM',
 'DBEU',
 'DBEZ',
 'DBGR',
 'DBJP',
 'DBL',
 'DBO',
 'DBP',
 'DBS',
 'DBV',
 'DBVT',
 'DCI',
 'DCIX',
 'DCO',
 'DCOM',
 'DDD',
 'DDF',
 'DDG',
 'DDM',
 'DDS',
 'DE',
 'DECK',
 'DEI',
 'DEM',
 'DENN',
 'DEO',
 'DERM',
 'DES',
 'DEW',
 'DEX',
 'DFE',
 'DFJ',
 'DFP',
 'DFS',
 'DGICA',
 'DGICB',
 'DGII',
 'DGL',
 'DGLY',
 'DGRE',
 'DGRO',
 'DGRS',
 'DGRW',
 'DGS',
 'DGT',
 'DGX',
 'DHF',
 'DHI',
 'DHIL',
 'DHR',
 'DHS',
 'DHT',
 'DHX',
 'DHY',
 'DIA',
 'DIAX',
 'DIG',
 'DIM',
 'DIN',
 'DIOD',
 'DIS',
 ...]

In [85]:
#Dataframe with all the stocks that have all the required data (date[2015,2019],monthly returns)
dfAll1 = dfAll.loc[dfAll['Ticker Symbol'].isin(stocks)]
dfAll1.tail(60)

             Date Ticker Symbol Returns    RF
413691 2015-01-01         SP500   -3.11  0.00
413692 2015-02-01         SP500    6.13  0.00
413693 2015-03-01         SP500   -1.12  0.00
413694 2015-04-01         SP500    0.59  0.00
413695 2015-05-01         SP500    1.36  0.00
413696 2015-06-01         SP500   -1.53  0.00
413697 2015-07-01         SP500    1.54  0.00
413698 2015-08-01         SP500   -6.04  0.00
413699 2015-09-01         SP500   -3.08  0.00
413700 2015-10-01         SP500    7.75  0.00
413701 2015-11-01         SP500    0.56  0.00
413702 2015-12-01         SP500   -2.16  0.01
413703 2016-01-01         SP500   -5.76  0.01
413704 2016-02-01         SP500   -0.05  0.02
413705 2016-03-01         SP500    6.98  0.02
413706 2016-04-01         SP500    0.93  0.01
413707 2016-05-01         SP500    1.79  0.01
413708 2016-06-01         SP500   -0.03  0.02
413709 2016-07-01         SP500    3.97  0.02
413710 2016-08-01         SP500    0.52  0.02
413711 2016-09-01         SP500    0.27  0.02
413712 2016-10-01         SP500      -2  0.02
413713 2016-11-01         SP500    4.87  0.01
413714 2016-12-01         SP500    1.85  0.03
413715 2017-01-01         SP500    1.98  0.04
413716 2017-02-01         SP500    3.61  0.04
413717 2017-03-01         SP500     0.2  0.03
413718 2017-04-01         SP500    1.14  0.05
413719 2017-05-01         SP500    1.12  0.06
413720 2017-06-01         SP500    0.84  0.06
413721 2017-07-01         SP500    1.94  0.07
413722 2017-08-01         SP500    0.25  0.09
413723 2017-09-01         SP500     2.6  0.09
413724 2017-10-01         SP500    2.34  0.09
413725 2017-11-01         SP500     3.2  0.08
413726 2017-12-01         SP500    1.15  0.09
413727 2018-01-01         SP500    5.69  0.11
413728 2018-02-01         SP500   -3.54  0.11
413729 2018-03-01         SP500   -2.23  0.12
413730 2018-04-01         SP500    0.43  0.14
413731 2018-05-01         SP500    2.79  0.14
413732 2018-06-01         SP500    0.62  0.14
413733 2018-07-01         SP500    3.35  0.16
413734 2018-08-01         SP500     3.6  0.16
413735 2018-09-01         SP500    0.21  0.15
413736 2018-10-01         SP500   -7.49  0.19
413737 2018-11-01         SP500    1.87  0.18
413738 2018-12-01         SP500   -9.36  0.19
413739 2019-01-01         SP500    8.62  0.21
413740 2019-02-01         SP500    3.58  0.18
413741 2019-03-01         SP500    1.29  0.19
413742 2019-04-01         SP500    4.17  0.21
413743 2019-05-01         SP500   -6.73  0.21
413744 2019-06-01         SP500    7.11  0.18
413745 2019-07-01         SP500    1.38  0.19
413746 2019-08-01         SP500   -2.42  0.16
413747 2019-09-01         SP500    1.62  0.18
413748 2019-10-01         SP500    2.21  0.15
413749 2019-11-01         SP500    3.99  0.12
413750 2019-12-01         SP500    2.91  0.14

In [19]:
###Beta calculations###
###Want monthly return beta from 2015 to 2017###
dfAll1.reset_index()
dfBeta = dfAll1[(dfAll1['Date'] > '2014-12-31') & (dfAll1['Date'] < '2017-12-31')]
dfBeta = dfBeta.reset_index()
dfBeta = dfBeta[['Date','Ticker Symbol','Returns','RF']]
dfBeta

             Date Ticker Symbol Returns    RF
0      2015-01-01          JJSF -9.7913   NaN
1      2015-02-01          JJSF  3.1288   NaN
2      2015-03-01          JJSF   5.801   NaN
3      2015-04-01          JJSF -2.2212   NaN
4      2015-05-01          JJSF   3.326   NaN
...           ...           ...     ...   ...
159403 2017-08-01         SP500    0.25  0.09
159404 2017-09-01         SP500     2.6  0.09
159405 2017-10-01         SP500    2.34  0.09
159406 2017-11-01         SP500     3.2  0.08
159407 2017-12-01         SP500    1.15  0.09

[159408 rows x 4 columns]

In [20]:
stdev_stock = dfBeta.groupby('Ticker Symbol')['Returns'].std()
stdev_stock

Ticker Symbol
A        6.151584
AADR     4.083586
AAL      9.241575
AAMC    30.317984
AAME     8.044327
          ...
ZNGA     9.399612
ZNH     15.458949
ZTR      3.265853
ZTS      5.680491
ZUMZ    14.955430
Name: Returns, Length: 4428, dtype: float64

In [21]:
stdev_market = stdev_stock['SP500']
stdev_market

2.9964700926044654

In [22]:
market_quotient = (stdev_stock / stdev_market)
market_quotient['AAPL']

2.2222782891012445

In [23]:
###table to find correlations
symbols = dfBeta.groupby('Ticker Symbol')
market_df = symbols.get_group('SP500')
market_df = market_df[['Date','Returns']].set_index('Date')
table = dfBeta.pivot(index='Date',columns='Ticker Symbol',values='Returns')  
table
#table.to_excel('betaReturnsNYSE.xlsx')

Ticker Symbol,A,AADR,AAL,AAMC,AAME,AAN,AAOI,AAON,AAP,AAPL,...,ZION,ZIOP,ZIXI,ZMLP,ZN,ZNGA,ZNH,ZTR,ZTS,ZUMZ
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-01,-7.4988,-2.5773,-8.4841,-48.4071,-0.9926,3.5656,-20.3209,-2.5904,-0.1758,6.1424,...,-15.9593,76.5286,-1.6667,0.4197,9.4891,-3.7594,10.8787,-1.2134,-0.5043,-3.4688
2015-02-01,11.7554,7.5791,-2.2005,10.6563,0.2506,-5.8433,39.5973,3.2095,-2.5598,10.0461,...,11.7488,25.8101,12.9944,2.706,30.6667,-10.1563,-5.9245,2.3127,7.8633,4.103
2015-03-01,-1.3267,-1.2917,10.1879,4.5637,0.75,-4.9547,11.218,8.9738,-3.3434,-3.1372,...,0.9912,-4.3517,-1.75,-4.6253,-11.2245,23.913,44.5648,-1.495,0.4339,3.6837
2015-04-01,-0.4332,4.0653,-8.327,20.9961,-1.2407,20.0989,2.8818,-2.2829,-4.4692,0.5786,...,4.9444,-18.1987,8.397,6.4739,16.092,-14.0351,36.071,-0.0804,-3.8605,-21.2174
2015-05-01,-0.4351,0.0124,-12.2502,-23.933,-4.0404,3.0294,25.07,-1.2516,7.1469,4.5146,...,2.1352,7.605,7.7465,-4.9292,-1.9802,20.4082,1.407,-0.4492,12.0441,-5.8341
2015-06-01,-6.0937,-3.6773,-5.747,-15.3178,-4.7368,3.4342,-2.7996,-4.3937,4.0008,-3.7266,...,9.8857,26.5823,12.6362,-10.1211,-3.5354,-3.0509,17.3135,-2.9859,-3.1143,-10.8172
2015-07-01,6.1431,3.6491,0.4132,-8.1225,2.7624,2.1265,12.0392,-1.4654,9.3666,-3.2888,...,-1.7173,11.3333,-5.6093,-5.0702,-7.8534,-13.2867,-14.9349,-0.9505,1.5761,-1.9902
2015-08-01,-11.3309,-6.8414,-2.5436,-70.9663,-3.2258,1.8118,5.964,-6.8049,0.597,-6.6117,...,-6.8291,-34.8054,-10.2459,-4.5993,-15.3409,2.0161,-36.6937,-5.7659,-8.2217,-10.6897
2015-09-01,-5.1776,-4.1935,-0.3848,-37.776,12.2222,-4.0292,-8.8792,-6.2863,8.1826,-2.1816,...,-5.0345,3.4443,-3.8813,-13.5602,-4.0268,-9.8814,17.142,-3.4341,-8.2238,-32.9472
2015-10-01,9.9913,8.6139,19.0317,2.714,9.1584,-31.681,9.7977,5.6244,4.6958,8.3409,...,4.4662,26.4151,23.0404,8.6939,39.8601,3.9474,15.2352,6.4781,4.4439,11.8362
2015-11-01,10.7521,1.032,-10.5149,-31.0569,8.39,-1.5201,-9.0689,21.2506,-17.9912,-0.569,...,4.3448,14.8376,8.3012,-10.7365,-2,8.8608,-12.1054,1.7482,8.7724,-13.6728
2015-12-01,0.2511,-1.4688,2.6418,1.1792,4.3933,-7.7462,-8.48,-6.0299,-7.4725,-11.0228,...,-8.8785,-36.4679,-9.4474,-14.4712,-5.102,3.876,3.0246,1.0811,2.6124,0.1988
2016-01-01,-9.9498,-6.3562,-7.9339,-9.965,-12.6252,2.1885,-4.6037,-7.2782,1.0232,-7.5242,...,-16.9231,-40.1925,-11.6142,-10.4807,-1.0753,-8.209,-21.4679,-6.3218,-9.9645,19.7751
2016-02-01,-0.7968,-0.2217,5.4116,10.0324,-4.3578,0.4808,9.8961,15.1881,-2.3742,-0.1335,...,-5.7319,58.1489,-11.1359,-8.9122,-4.8913,-14.2276,-5.6075,0.929,-4.6225,14.0806
2016-03-01,6.6934,6.7619,0.0244,-30.5882,6.7146,9.2866,-17.1206,12.9032,8.0571,12.7211,...,13.5553,-5.598,-1.5038,12.9055,0.5714,8.0569,10.4668,5.472,7.964,-3.5818
2016-04-01,2.9737,-0.3283,-15.4109,41.9491,-5.618,4.4223,-24.8826,-5.2857,-2.6444,-13.9921,...,13.672,5.9299,-5.0891,15.7585,0.5682,4.386,-1.2484,3.3528,6.305,-15.763
2016-05-01,12.1457,0.8779,-7.7256,13.9104,-11.9617,-4.235,-5.8036,3.4691,-1.4478,7.1368,...,2.0349,-0.8906,7.7748,2.6016,-10.7345,7.9832,-4.0194,-2.5163,0.8293,-11.323
2016-06-01,-3.0835,1.0941,-11.2817,-23.6373,7.6087,-12.6892,5.6872,0.656,5.1027,-4.266,...,-10.3141,-29.525,-6.7164,3.8727,-12.0253,-3.1128,-1.7225,2.3609,0.2847,-3.8306
2016-07-01,8.4536,4.1262,25.3974,-11.7364,6.5657,9.4107,6.1883,-3.7441,5.0919,9.0063,...,10.9431,-11.4754,8.2667,1.944,1.4388,15.261,16.3215,4.256,6.3422,18.6583
2016-08-01,-2.3488,-1.0618,2.5352,9.8756,-14.218,1.8163,42.3142,6.8731,-7.3472,2.3606,...,10.0072,4.321,-6.1576,0.5951,-0.7092,-4.878,-9.7767,0.5873,1.2483,-1.649
2016-09-01,0.4789,1.3404,0.854,30.9271,-10.4972,4.3514,31.8101,1.8375,-5.2103,6.5504,...,1.4057,11.0454,7.6115,-0.5683,0,6.5934,-5.8528,-1.9209,1.7808,7.7844
2016-10-01,-7.475,2.7107,10.8987,84.5946,25,-2.7931,-13.4174,3.9209,-6.0622,0.4334,...,3.8362,0.8881,-0.7317,-3.9296,-4.2857,-3.4364,-0.2131,-1.9684,-8.0946,23.6111
2016-11-01,0.941,-2.3966,14.6305,-15.5198,-1.2346,17.847,28.8092,10.2838,21.1593,-2.1578,...,23.7814,14.0845,9.3366,2.9366,-1.4925,1.7794,2.2784,-2.7973,5.5962,11.4607
2016-12-01,3.8927,-1.1589,0.5383,85.4419,2.5,9.9502,-5.3694,0.4559,-0.3182,4.7955,...,8.1679,-17.4383,11.0112,3.4887,3.7879,-10.1399,-10.5117,8.0267,6.2525,-11.8952
2017-01-01,7.4846,10.0556,-5.226,17.3832,-8.5366,-3.2823,31.2287,2.7232,-2.8855,4.7746,...,-1.9749,10.6542,-3.4413,4.2395,-4.3796,-1.9455,12.641,-1.2209,2.8302,-8.238
2017-02-01,4.758,1.5604,4.9944,11.9427,2.6667,-11.8293,49.2848,-0.8837,-4.6456,13.3581,...,6.6129,7.2635,5.0315,-1.3732,-0.7634,5.1587,12.6727,3.484,-2.9669,1.7456
2017-03-01,3.3177,4.008,-8.7576,7.0412,3.8961,9.1184,22.2779,5.052,-5.2934,4.869,...,-6.4588,-0.1575,-3.992,-1.1335,-7.6923,7.5472,1.9001,2.5346,0.1125,-10.2941
2017-04-01,4.1233,1.3487,0.7565,1.3289,-0.75,20.8473,-12.0392,3.6775,-4.1279,-0.007,...,-4.6905,11.041,12.8898,-2.0767,6.6667,1.4035,-1.6842,5.9881,5.3307,-1.9126
2017-05-01,9.6094,0.2535,13.8198,19.3443,-8.8608,1.6138,41.3646,-1.296,-5.9871,6.7804,...,0.2998,-16.9034,6.2615,-4.9429,7.8125,21.7993,17.3142,2.4574,10.9963,-20.6128
2017-06-01,-1.4882,-0.962,3.9455,0.4387,4.1667,6.5923,-11.501,2.2253,-12.7067,-5.7214,...,9.5832,6.3248,-1.3865,0.2231,148.551,3.4091,9.8601,1.7013,0.3292,-13.3333
2017-07-01,0.8093,5.8244,0.2385,0.6573,-5.3333,18.9717,57.7763,-8.2768,-3.9283,3.2704,...,3.2111,-11.0932,-6.3269,3.0374,16.9096,-0.8242,-7.8986,4.8574,0.2244,2.834
2017-08-01,8.2455,6.2525,-11.1023,-0.3261,-8.4507,-4.3431,-39.3579,-3.5503,-12.5971,10.6905,...,-3.3981,15.5515,-0.3752,-5.0964,-16.7082,3.8781,1.2326,1.0899,0.2879,-1.9685
2017-09-01,-0.8035,5.8846,6.1466,-12.5409,0,-1.3836,9.3877,5.7515,1.3892,-6.0244,...,8.0623,-3.9124,-7.9096,1.4874,2.0958,0.8,-10.9585,1.2395,1.6906,45.3815
2017-10-01,6.1713,3.4173,-1.4108,5.2057,10.7692,-15.6544,-37.0032,1.5228,-17.6008,9.6808,...,-1.5261,-24.1042,-0.818,-2.9247,-24.6334,3.1746,7.5938,1.9167,0.0941,-2.4862
2017-11-01,1.7786,-2.8696,8.0521,-14.6667,0,2.5,7.1674,4.5143,23.5625,2.035,...,6.9953,-1.9313,-9.2783,-2.0168,-21.0117,5.1282,21.6063,0.7721,13.4362,23.5127
2017-12-01,-3.0633,5.6049,3.0501,13.3333,-5.5556,5.7264,-13.3761,0.6859,-1.2376,-1.5246,...,2.5833,-9.4092,-0.4545,3.8948,6.4039,-2.439,15.2324,1.3728,-0.3458,-4.4725

In [80]:
table['RiskFree'] = fama1['RF'].iloc[-63:-27].values
dfObj = table.columns.values
fama1['mktExcessReturn'] = fama1['Returns'] - fama1['RF']
df_beta=[]
for obj in dfObj:
    dfExcessReturn = table[obj]-table['RiskFree']
    dfExcessReturn = dfExcessReturn.to_frame(name=obj)
    beta = dfExcessReturn[obj].sum()/fama1['mktExcessReturn'].iloc[-63:-27].sum()
    df_beta.append(
        {
            'Ticker': obj,
            'Beta': beta,
            'Excess Return': dfExcessReturn[obj].sum()
        }
    )

df_beta = pd.DataFrame(df_beta)
df_beta.to_excel('beta_df.xlsx')

In [89]:
###Find the returns for each stock that had data from 2015-2019
###returns will be calculated from 1-1-2018 - 11-29-2019 [OR 1.91667 years]
df_stock_returns = dfAll1[(dfAll1['Date'] > '2017-12-20') & (dfAll1['Date'] < '2019-12-31')]
stock_annual_returns = df_stock_returns.loc[df_stock_returns['Ticker Symbol'].isin(stocks)]
#stock_annual_returns['ExcessReturn']=stock_annual_returns['Returns']-
stock_annual_returns.pivot(index='Date',columns='Ticker Symbol',values='Returns')

Ticker Symbol,A,AADR,AAL,AAMC,AAME,AAN,AAOI,AAON,AAP,AAPL,...,ZION,ZIOP,ZIXI,ZMLP,ZN,ZNGA,ZNH,ZTR,ZTS,ZUMZ
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-01,9.6461,6.0663,4.4013,-14.7059,6.6176,2.6098,-14.3575,-0.8174,17.3538,-1.0636,...,6.2955,-4.8309,-3.4247,7.7239,-2.3148,-10.5,24.8553,-2.6642,6.6852,-0.3601
2018-02-01,-6.5913,-3.14,0.0552,-6.6092,-4.8276,13.0105,-13.7697,0.9615,-2.3421,6.761,...,2.1099,-5.33,-4.2553,-10.5636,92.4171,-3.352,2.1793,-10.1083,5.3825,-5.0602
2018-03-01,-2.4639,-2.8127,-4.2212,-4.1923,-4.3478,0.9089,-10.2757,6.1224,3.8162,-5.8051,...,-4.075,5.0938,5.4321,-6.8132,17.2414,5.7803,-20.3903,-3.5361,3.2773,21.3198
2018-04-01,-1.5112,-0.5362,-17.3788,5.9815,-0.9091,-10.3648,27.5339,-12.8205,-3.4585,-1.502,...,3.8308,7.6531,18.267,6.1748,-9.2437,-5.7377,2.7171,-0.2457,0.115,-2.0921
2018-05-01,-5.8108,-1.3178,1.6539,4.3939,-9.2308,-4.7642,46.3392,-10.2941,12.381,13.5181,...,0.5479,16.1138,7.1287,3.2917,-17.5926,27.5362,-8.842,4.0369,0.2635,3.6325
2018-06-01,-0.1292,-7.1733,-12.8158,1.2337,-8.4746,9.3012,-3.9983,9.541,5.5512,-0.9418,...,-3.8679,-38.3673,-0.3697,-0.3259,13.9045,-7.5,-18.1983,1.8613,1.7802,3.299
2018-07-01,7.0327,-0.7325,4.1623,-6.0215,-3.7037,-0.3222,-14.4098,13.5338,4.0752,2.7983,...,-1.8789,-14.2384,-0.9276,5.747,-23.7978,-6.8796,-10.2454,5.2618,1.6622,-9.5808
2018-08-01,2.2714,-0.9271,2.6302,-5.3394,5.7692,14.8003,7.6243,7.0199,16.1439,20.0063,...,3.6557,12.7413,3.9326,1.0621,-40.1294,9.7625,-6.1443,2.8255,4.7641,37.5276
2018-09-01,4.4418,2.6943,2.0998,-3.5455,-9.0909,9.5937,-40.3772,-6.4356,2.6581,-0.8303,...,-5.8923,9.589,0,-0.6354,-30.8108,-3.6058,-3.7838,-5.5644,1.0596,-15.4093
2018-10-01,-7.9402,-13.6879,-15.1222,-18.1287,12,-13.4594,-20.3974,-8.7566,-5.0912,-3.0478,...,-6.1815,-38.125,21.4414,-6.9571,-12.5,-9.2269,-14.4819,-12.4844,-1.54,-11.7268
2018-11-01,11.6685,-4.7404,14.7662,-1.2041,1.0714,-0.7002,4.8905,10.4958,11.2356,-18.0709,...,4.0595,69.1919,-1.1869,-2.7953,-59.5179,-0.5495,25.219,4.3698,4.2662,-15.2193
2018-12-01,-6.5321,-9.3644,-20.0448,-38.6697,-14.8869,-10.0748,-25.0607,-7.6153,-11.3612,-11.6698,...,-16.2762,-44.1791,-13.964,-11.9339,-7.94,8.5635,-11.5127,-9.4795,-8.874,-2.789
2019-01-01,12.7335,10.6069,11.3983,-9.5992,12.2805,19.0488,12.6377,5.3622,1.105,5.5154,...,16.8139,19.7861,24.2583,14.2616,16.5549,13.9949,18.1489,15.4871,0.9165,32.5509
2019-02-01,4.4576,4.5798,-0.1118,40.2757,6.8589,8.4499,-22.3245,7.9047,1.6206,4.4701,...,8.0059,31.6964,26.8258,0.4505,1.3566,16.5179,12.7405,5.4216,9.3663,-2.7942
2019-03-01,1.1833,-1.8327,-10.8616,-16.9973,-11.7647,-3.0484,-9.6296,15.8555,5.4457,9.7026,...,-11.135,30.5085,-23.8095,2.9696,53.113,2.1073,7.6162,1.7199,6.8343,0.7692
2019-04-01,-2.1349,1.4066,7.6196,-13.6014,-2.7451,5.8745,2.623,8.7267,-2.4688,5.6436,...,8.6325,14.8052,18.4593,-0.036,-26.053,6.1914,-1.1949,3.2026,1.3251,6.9908
2019-05-01,-14.586,-0.1734,-20.041,-36.8889,-0.4024,-4.3634,-30.8307,-9.281,-6.8062,-12.3735,...,-12.0819,-3.1674,9.9387,-0.3676,-19.434,11.1307,-25.9302,2.5868,-0.7757,-25.7229
2019-06-01,11.3646,8.6758,19.7576,-32.5117,-0.0041,15.368,18.7067,10.553,-0.5161,13.0519,...,6.7564,36.2149,1.4509,2.583,-25.5447,-2.5437,8.8655,5.6076,12.3107,31.9515
2019-07-01,-6.8247,1.7889,-6.4397,-17.7391,-4.0816,2.6706,-2.6265,1.2355,-2.2707,7.6394,...,-1.9791,19.0395,0.22,2.2963,-1.4631,4.0783,-5.6252,-4.191,1.3781,-5.0958
2019-08-01,2.4492,-2.2512,-13.4382,5.4968,7.234,1.6812,-11.0889,-5.5709,-8.4241,-1.657,...,-8.0763,-28.098,-19.3194,-6.8067,-21.2121,-10.5016,-12.8474,-0.971,10.0357,4.8849
2019-09-01,7.9932,-3.6798,2.5086,-6.513,6.3492,0.2886,26.0674,-4.2318,19.942,7.2962,...,8.3475,-14.2284,-1.4966,0.6216,-3.8077,1.9264,6.4848,3.0833,-1.4476,21.9207
2019-10-01,-1.1484,5.7898,11.4572,45.2304,-16.791,16.6044,-16.5775,5.9208,-1.7654,11.0684,...,8.8724,-1.4019,-8.7017,-3.4263,-16.3535,6.0137,2.9285,5.1996,2.8044,0.7419
2019-11-01,6.6271,0.5116,-4.0585,0.369,-20.6278,-22.0606,14.3162,1.7879,-3.3235,7.7424,...,3.4042,23.4597,14.0696,-4.4728,-14.914,0.9724,1.6489,-3.3711,-5.7849,-7.4271
2019-12-01,5.8438,6.3171,-0.2088,-9.1912,11.2994,-2.1404,11.028,0.081,1.999,9.8784,...,4.2989,-9.405,-10.0796,6.9279,-3.0337,-1.7657,6.8702,4.8543,9.8158,16.9262

In [91]:
table1 = stock_annual_returns.pivot(index='Date',columns='Ticker Symbol',values='Returns') 
#table1.dtypes
table1 = table1.astype(float)
total_ret = table1.sum()
annual_returns_stocks = total_ret/2
annual_returns_stocks.to_excel('stock_returns_NYSE.xlsx')

In [93]:
###sort betas into 34 portfolio's with equal weights and find total return
#34 because it is divisible by 4454 (number of tickers)
dataframe = pd.read_excel('beta_df_new.xlsx')

In [98]:
###beta of each 34 equally weighted portfolios of 131 stocks
group_size = 442
#group_size = 131
portfolios = [dataframe.iloc[i:i+group_size] for i in range(0,len(dataframe)-group_size+1,group_size)]   
for portfolio in portfolios:
    print(portfolio['Beta'].mean())

4.0262201568286216
2.1963523740501305
1.656353532550492
1.2547289782700355
0.9771374196963921
0.7731041006871533
0.5326982753162638
0.2334361726919912
-0.2794333384073855
-2.246961186196604

In [99]:
###annual returns of each portfolio sorted from highest to lowest beta
group_size = 442
portfolios = [dataframe.iloc[i:i+group_size] for i in range(0,len(dataframe)-group_size+1,group_size)]   
for portfolio in portfolios:
    print(portfolio['Returns'].mean())

5.174529298642535
10.463014705882351
9.616864932126703
8.854974321266962
8.244737895927601
6.85005667420815
5.052601809954752
4.345012217194567
1.6256941043083883
-0.14269762443439113

In [ ]:
###https://github.com/RJT1990/Active-Portfolio-Management-Notes/blob/master/Chapter%202%2C%20CAPM.ipynb 
#this link is somewhat what professor Luo was talking about