In [2]:
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import math
import datetime as dt
import matplotlib as mpl
import matplotlib.pyplot as plt
import statistics as stats
import scipy
from scipy.stats.stats import pearsonr
from matplotlib import style
import warnings
import seaborn as sns
import requests
import bs4 as bs
import os
import csv
from openpyxl.workbook import Workbook as wb
from openpyxl import load_workbook
from openpyxl.styles import Font
from openpyxl.utils.dataframe import dataframe_to_rows
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_excel('stock_returns_data.xlsx')

In [38]:
df = data[['Names Date','Ticker Symbol','Returns']]

In [39]:
df = df[pd.to_numeric(df['Returns'], errors='coerce').notnull()]

In [40]:
df['Date'] = df['Names Date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
df
#date = dt(year=int(dates[0:4]), month=int(dates[4:6]), day=int(dates[6:8]))
#int2date(dates)

         Names Date Ticker Symbol   Returns       Date
0          20070131          EWST  0.023279 2007-01-31
1          20070228          EWST  0.261621 2007-02-28
2          20070330          EWST  0.019732 2007-03-30
3          20070430          EWST  0.002764 2007-04-30
4          20070531          EWST  0.043418 2007-05-31
...             ...           ...       ...        ...
1048568    20191129            VT  0.025614 2019-11-29
1048569    20191231            VT  0.034494 2019-12-31
1048572    20080731           SZR  0.076445 2008-07-31
1048573    20080829           SZR -0.040735 2008-08-29
1048574    20080930           SZR -0.063134 2008-09-30

[1021412 rows x 4 columns]

In [228]:
df['Returns']=df['Returns']*100
df1 = df[['Date','Ticker Symbol','Returns']]
df1

              Date Ticker Symbol  Returns
0       2007-01-31          EWST   2.3279
1       2007-02-28          EWST  26.1621
2       2007-03-30          EWST   1.9732
3       2007-04-30          EWST   0.2764
4       2007-05-31          EWST   4.3418
...            ...           ...      ...
1048568 2019-11-29            VT   2.5614
1048569 2019-12-31            VT   3.4494
1048572 2008-07-31           SZR   7.6445
1048573 2008-08-29           SZR  -4.0735
1048574 2008-09-30           SZR  -6.3134

[1021412 rows x 3 columns]

In [229]:
df1 = df1[(df1['Date'] > '2015-01-01') & (df1['Date'] < '2020-01-31')]
df1

              Date Ticker Symbol  Returns
96      2015-01-30          EGAS -11.5245
97      2015-02-27          EGAS   3.5897
98      2015-03-31          EGAS  -0.0495
99      2015-04-30          EGAS   1.1044
100     2015-05-29          EGAS  -0.6951
...            ...           ...      ...
1048565 2019-08-30            VT  -2.1022
1048566 2019-09-30            VT   2.2762
1048567 2019-10-31            VT   2.7934
1048568 2019-11-29            VT   2.5614
1048569 2019-12-31            VT   3.4494

[412629 rows x 3 columns]

In [230]:
df1 = df1.dropna(subset=['Ticker Symbol'])

In [231]:
#start = 2015,01,01
#end = 2019,12,31
end = dt.date(2019,12,31)
start = dt.date(2014,12,31)
ticker = '^GSPC'
df_market = web.DataReader(ticker,'yahoo',start,end)
df_market = df_market.reset_index()
df_market[[f'{ticker} Adj Close']] = df_market[['Adj Close']]
df_market=df_market[['Date',f'{ticker} Adj Close']].resample('M', on='Date').last()
df_market[f'{ticker} Monthly Return'] = df_market[f'{ticker} Adj Close'].pct_change()*100
df_market.dropna(inplace=True)
df_market = df_market[['Date',f'{ticker} Monthly Return']]
#df_market
return_market = df_market[f'{ticker} Monthly Return'].sum()
print(return_market)

48.76399191842387

In [232]:
df_market['Ticker Symbol']='SP500'
df_market['Returns']=df_market['^GSPC Monthly Return']
#df_market = df_market.reset_index()
df_market1 = df_market[['Date','Ticker Symbol','Returns']]
dfAll = pd.concat([df1,df_market1])
dfAll = dfAll.reset_index()
dfAll = dfAll[['Date','Ticker Symbol', 'Returns']]
dfAll = dfAll[(dfAll['Date'] > '2015-01-01') & (dfAll['Date'] < '2019-12-31')]
dfAll

             Date Ticker Symbol  Returns
0      2015-01-30          EGAS -11.5245
1      2015-02-27          EGAS   3.5897
2      2015-03-31          EGAS  -0.0495
3      2015-04-30          EGAS   1.1044
4      2015-05-29          EGAS  -0.6951
...           ...           ...      ...
412683 2019-07-31         SP500  1.31282
412684 2019-08-30         SP500 -1.80916
412685 2019-09-30         SP500  1.71812
412686 2019-10-31         SP500  2.04318
412687 2019-11-29         SP500   3.4047

[405484 rows x 3 columns]

In [233]:
#finding stocks in the data (excel sheet) that have data from 2015-2019 (returns) and 2015-2017 (beta)
stock_count = dfAll.groupby('Ticker Symbol')['Returns'].count()
stock_count = stock_count[stock_count == 59]
stocks = [*stock_count.keys()]
stocks

['A',
 'AADR',
 'AAL',
 'AAMC',
 'AAME',
 'AAN',
 'AAOI',
 'AAON',
 'AAP',
 'AAPL',
 'AAT',
 'AAU',
 'AAWW',
 'AB',
 'ABB',
 'ABBV',
 'ABC',
 'ABCB',
 'ABDC',
 'ABEV',
 'ABG',
 'ABIO',
 'ABM',
 'ABMD',
 'ABR',
 'ABT',
 'ACAD',
 'ACC',
 'ACCO',
 'ACGL',
 'ACH',
 'ACHC',
 'ACHN',
 'ACIW',
 'ACLS',
 'ACM',
 'ACN',
 'ACNB',
 'ACOR',
 'ACP',
 'ACRE',
 'ACRX',
 'ACST',
 'ACTG',
 'ACU',
 'ACWI',
 'ACWV',
 'ACWX',
 'ACY',
 'ADBE',
 'ADC',
 'ADI',
 'ADM',
 'ADMA',
 'ADMP',
 'ADMS',
 'ADP',
 'ADRA',
 'ADRD',
 'ADRE',
 'ADRU',
 'ADS',
 'ADSK',
 'ADTN',
 'ADX',
 'ADXS',
 'AE',
 'AEE',
 'AEG',
 'AEGN',
 'AEHR',
 'AEIS',
 'AEL',
 'AEM',
 'AEO',
 'AEP',
 'AER',
 'AERI',
 'AES',
 'AEY',
 'AEZS',
 'AFB',
 'AFG',
 'AFH',
 'AFL',
 'AFMD',
 'AFT',
 'AG',
 'AGCO',
 'AGD',
 'AGEN',
 'AGG',
 'AGI',
 'AGIO',
 'AGNC',
 'AGND',
 'AGO',
 'AGRO',
 'AGRX',
 'AGTC',
 'AGX',
 'AGYS',
 'AGZD',
 'AHC',
 'AHH',
 'AHPI',
 'AHT',
 'AI',
 'AIA',
 'AIF',
 'AIG',
 'AIMC',
 'AIN',
 'AINC',
 'AINV',
 'AIR',
 'AIRI',
 'AIRR',
 'AIRT',
 'AIT',
 'AIV',
 'AIZ',
 'AJG',
 'AKAM',
 'AKBA',
 'AKER',
 'AKG',
 'AKR',
 'AKRX',
 'AKS',
 'AL',
 'ALB',
 'ALCO',
 'ALDX',
 'ALE',
 'ALEX',
 'ALFA',
 'ALG',
 'ALGN',
 'ALGT',
 'ALK',
 'ALKS',
 'ALL',
 'ALLE',
 'ALLT',
 'ALLY',
 'ALNY',
 'ALOT',
 'ALSK',
 'ALSN',
 'ALTS',
 'ALV',
 'ALX',
 'ALXN',
 'AM',
 'AMAG',
 'AMAT',
 'AMBA',
 'AMBC',
 'AMC',
 'AMCX',
 'AMD',
 'AME',
 'AMED',
 'AMG',
 'AMGN',
 'AMH',
 'AMKR',
 'AMLP',
 'AMNB',
 'AMOT',
 'AMOV',
 'AMP',
 'AMPE',
 'AMPH',
 'AMRB',
 'AMRC',
 'AMRK',
 'AMRN',
 'AMRS',
 'AMS',
 'AMSC',
 'AMSF',
 'AMSWA',
 'AMT',
 'AMTD',
 'AMTX',
 'AMWD',
 'AMX',
 'AMZA',
 'AMZN',
 'AN',
 'ANAT',
 'ANDE',
 'ANET',
 'ANF',
 'ANFI',
 'ANGL',
 'ANGO',
 'ANH',
 'ANIK',
 'ANIP',
 'ANSS',
 'ANTM',
 'ANY',
 'AOD',
 'AON',
 'AOS',
 'AP',
 'APA',
 'APAM',
 'APD',
 'APDN',
 'APEI',
 'APH',
 'APO',
 'APOG',
 'APPS',
 'APT',
 'APTO',
 'APTS',
 'APWC',
 'AR',
 'ARAY',
 'ARC',
 'ARCB',
 'ARCC',
 'ARCO',
 'ARDC',
 'ARDX',
 'ARE',
 'ARES',
 'ARGT',
 'ARKG',
 'ARKK',
 'ARKQ',
 'ARKR',
 'ARKW',
 'ARL',
 'ARLP',
 'ARMK',
 'ARNA',
 'AROW',
 'ARQL',
 'ARR',
 'ARTNA',
 'ARTW',
 'ARTX',
 'ARW',
 'ARWR',
 'ASA',
 'ASB',
 'ASC',
 'ASEA',
 'ASFI',
 'ASG',
 'ASGN',
 'ASH',
 'ASHR',
 'ASHS',
 'ASM',
 'ASMB',
 'ASML',
 'ASNA',
 'ASPN',
 'ASR',
 'ASTC',
 'ASTE',
 'ASUR',
 'ASX',
 'ASYS',
 'AT',
 'ATEC',
 'ATEN',
 'ATHM',
 'ATHX',
 'ATI',
 'ATLC',
 'ATLO',
 'ATNI',
 'ATNM',
 'ATO',
 'ATOS',
 'ATR',
 'ATRA',
 'ATRC',
 'ATRI',
 'ATRO',
 'ATRS',
 'ATSG',
 'ATTO',
 'ATV',
 'ATVI',
 'AU',
 'AUBN',
 'AUDC',
 'AUPH',
 'AUY',
 'AVA',
 'AVAV',
 'AVB',
 'AVD',
 'AVID',
 'AVK',
 'AVNW',
 'AVP',
 'AVT',
 'AVX',
 'AVY',
 'AWF',
 'AWI',
 'AWK',
 'AWP',
 'AWR',
 'AWRE',
 'AWX',
 'AXAS',
 'AXDX',
 'AXE',
 'AXGN',
 'AXJL',
 'AXL',
 'AXP',
 'AXR',
 'AXS',
 'AXTA',
 'AXTI',
 'AXU',
 'AYI',
 'AYR',
 'AZN',
 'AZO',
 'AZPN',
 'AZZ',
 'B',
 'BA',
 'BABA',
 'BAC',
 'BAF',
 'BAH',
 'BAM',
 'BANC',
 'BANF',
 'BANR',
 'BANX',
 'BAP',
 'BAS',
 'BASI',
 'BAX',
 'BBBY',
 'BBC',
 'BBDO',
 'BBF',
 'BBGI',
 'BBH',
 'BBK',
 'BBL',
 'BBN',
 'BBP',
 'BBSI',
 'BBT',
 'BBVA',
 'BBW',
 'BBY',
 'BC',
 'BCBP',
 'BCC',
 'BCE',
 'BCEI',
 'BCH',
 'BCLI',
 'BCO',
 'BCOM',
 'BCOR',
 'BCOV',
 'BCPC',
 'BCRH',
 'BCRX',
 'BCS',
 'BCV',
 'BCX',
 'BDC',
 'BDJ',
 'BDL',
 'BDN',
 'BDR',
 'BDSI',
 'BDX',
 'BEAT',
 'BECN',
 'BELFA',
 'BELFB',
 'BEN',
 'BEP',
 'BERY',
 'BFAM',
 'BFIN',
 'BFK',
 'BFO',
 'BFOR',
 'BFS',
 'BFY',
 'BFZ',
 'BG',
 'BGB',
 'BGCP',
 'BGFV',
 'BGG',
 'BGH',
 'BGI',
 'BGR',
 'BGS',
 'BGSF',
 'BGT',
 'BGX',
 'BGY',
 'BHB',
 'BHE',
 'BHK',
 'BHLB',
 'BHP',
 'BHV',
 'BIDU',
 'BIF',
 'BIG',
 'BIIB',
 'BIL',
 'BIOC',
 'BIOL',
 'BIOS',
 'BIP',
 'BIT',
 'BITA',
 'BIV',
 'BIZD',
 'BJK',
 'BJRI',
 'BK',
 'BKCC',
 'BKD',
 'BKE',
 'BKEP',
 'BKF',
 'BKH',
 'BKJ',
 'BKK',
 'BKLN',
 'BKN',
 'BKSC',
 'BKT',
 'BKU',
 'BLCM',
 'BLDP',
 'BLDR',
 'BLE',
 'BLFS',
 'BLIN',
 'BLK',
 'BLKB',
 'BLL',
 'BLMN',
 'BLRX',
 'BLUE',
 'BLV',
 'BLW',
 'BLX',
 'BMA',
 'BME',
 'BMI',
 'BMO',
 'BMRC',
 'BMRN',
 'BMTC',
 'BMY',
 'BND',
 'BNDX',
 'BNFT',
 'BNS',
 'BNSO',
 'BNY',
 'BOCH',
 'BOE',
 'BOH',
 'BOIL',
 'BOKF',
 'BOND',
 'BOOM',
 'BOOT',
 'BOSC',
 'BOTJ',
 'BP',
 'BPFH',
 'BPOP',
 'BPT',
 'BPTH',
 'BPY',
 'BQH',
 'BR',
 'BRC',
 'BREW',
 'BRFS',
 'BRG',
 'BRID',
 'BRKL',
 'BRKR',
 'BRKS',
 'BRN',
 'BRO',
 'BRT',
 'BRX',
 'BRZU',
 'BSAC',
 'BSD',
 'BSE',
 'BSET',
 'BSMX',
 'BSQR',
 'BSRR',
 'BST',
 'BSTC',
 'BSV',
 'BSX',
 'BTA',
 'BTAL',
 'BTE',
 'BTG',
 'BTI',
 'BTN',
 'BTO',
 'BTT',
 'BTZ',
 'BUI',
 'BURL',
 'BUSE',
 'BVN',
 'BVSN',
 'BWA',
 'BWFG',
 'BWG',
 'BWL',
 'BWX',
 'BX',
 'BXC',
 'BXMT',
 'BXMX',
 'BXP',
 'BXS',
 'BYD',
 'BYFC',
 'BYLD',
 'BYM',
 'BZH',
 'BZM',
 'C',
 'CAAS',
 'CAC',
 'CACC',
 'CACI',
 'CAE',
 'CAF',
 'CAG',
 'CAH',
 'CAJ',
 'CAKE',
 'CALA',
 'CALM',
 'CAMP',
 'CAMT',
 'CANE',
 'CANF',
 'CAPL',
 'CAR',
 'CARA',
 'CARB',
 'CARO',
 'CART',
 'CARV',
 'CARZ',
 'CASH',
 'CASI',
 'CASS',
 'CASY',
 'CAT',
 'CATM',
 'CATO',
 'CATY',
 'CB',
 'CBAN',
 'CBAY',
 'CBB',
 'CBFV',
 'CBL',
 'CBLI',
 'CBM',
 'CBMG',
 'CBON',
 'CBPX',
 'CBRL',
 'CBSH',
 'CBT',
 'CBU',
 'CBZ',
 'CCBG',
 'CCCL',
 'CCF',
 'CCI',
 'CCJ',
 'CCK',
 'CCL',
 'CCLP',
 'CCMP',
 'CCNE',
 'CCO',
 'CCOI',
 'CCRN',
 'CCS',
 'CCU',
 'CCXI',
 'CDC',
 'CDE',
 'CDK',
 'CDNA',
 'CDNS',
 'CDR',
 'CDW',
 'CDZI',
 'CE',
 'CEA',
 'CECE',
 'CECO',
 'CEE',
 'CEL',
 'CELP',
 'CEMB',
 'CEMI',
 'CEN',
 'CENT',
 'CENTA',
 'CENX',
 'CEO',
 'CEQP',
 'CERN',
 'CERS',
 'CET',
 'CETV',
 'CEV',
 'CEVA',
 'CF',
 'CFA',
 'CFBK',
 'CFFI',
 'CFFN',
 'CFG',
 'CFO',
 'CFR',
 'CFRX',
 'CFX',
 'CG',
 'CGEN',
 'CGIX',
 'CGNX',
 'CGO',
 'CHA',
 'CHCI',
 'CHCO',
 'CHD',
 'CHDN',
 'CHE',
 'CHEF',
 'CHEP',
 'CHGG',
 'CHH',
 'CHI',
 'CHK',
 'CHKP',
 'CHKR',
 'CHL',
 'CHMG',
 'CHMI',
 'CHN',
 'CHNR',
 'CHRS',
 'CHRW',
 'CHS',
 'CHT',
 'CHTR',
 'CHU',
 'CHUY',
 'CHW',
 'CHY',
 'CI',
 'CIA',
 'CIDM',
 'CIEN',
 'CIF',
 'CIG',
 'CII',
 'CIK',
 'CIM',
 'CINF',
 'CIO',
 'CIR',
 'CIX',
 'CIZ',
 'CIZN',
 'CKH',
 'CKX',
 'CL',
 'CLB',
 'CLCT',
 'CLDX',
 'CLF',
 'CLFD',
 'CLGX',
 'CLH',
 'CLI',
 'CLIR',
 'CLM',
 'CLMT',
 'CLNE',
 'CLR',
 'CLRB',
 'CLRO',
 'CLS',
 'CLSN',
 'CLUB',
 'CLVS',
 'CLWT',
 'CLX',
 'CM',
 'CMA',
 'CMBS',
 'CMC',
 'CMCM',
 'CMCO',
 'CMCSA',
 'CMCT',
 'CME',
 'CMF',
 'CMG',
 'CMI',
 'CMO',
 'CMP',
 'CMPR',
 'CMRE',
 'CMRX',
 'CMS',
 'CMT',
 'CMTL',
 'CMU',
 'CN',
 'CNA',
 'CNAT',
 'CNBKA',
 'CNC',
 'CNCE',
 'CNHI',
 'CNI',
 'CNK',
 'CNMD',
 'CNO',
 'CNOB',
 'CNP',
 'CNQ',
 'CNS',
 'CNSL',
 'CNTY',
 'CNX',
 'CNXT',
 'CODI',
 'COF',
 'COG',
 'COHR',
 'COHU',
 'COKE',
 'COLB',
 'COLM',
 'COMM',
 'COMT',
 'CONE',
 'CONN',
 'COO',
 'COP',
 'COR',
 'CORE',
 'CORP',
 'CORR',
 'CORT',
 'COST',
 'COT',
 'COTY',
 'CP',
 'CPA',
 'CPAC',
 'CPAH',
 'CPB',
 'CPE',
 'CPER',
 'CPF',
 'CPG',
 'CPHC',
 'CPK',
 'CPL',
 'CPLP',
 'CPRT',
 'CPRX',
 'CPS',
 'CPSI',
 'CPSS',
 'CPST',
 'CPT',
 'CPTA',
 'CQP',
 'CR',
 'CRAI',
 'CRBN',
 'CRC',
 'CRCM',
 'CREE',
 'CRESY',
 'CRF',
 'CRH',
 'CRI',
 'CRIS',
 'CRK',
 'CRL',
 'CRM',
 'CRMT',
 'CRNT',
 'CROC',
 'CROP',
 'CROX',
 'CRR',
 'CRS',
 'CRT',
 'CRTO',
 'CRUS',
 'CRVL',
 'CRWS',
 'CRY',
 'CRZO',
 'CS',
 'CSCO',
 'CSF',
 'CSFL',
 'CSGP',
 'CSGS',
 'CSII',
 'CSIQ',
 'CSL',
 'CSLT',
 'CSOD',
 'CSPI',
 'CSQ',
 'CSS',
 'CSTE',
 'CSTM',
 'CSU',
 'CSV',
 'CSWC',
 'CSX',
 'CTAS',
 'CTB',
 'CTBI',
 'CTG',
 'CTHR',
 'CTIB',
 'CTIC',
 'CTL',
 'CTLT',
 'CTO',
 'CTR',
 'CTRE',
 'CTRN',
 'CTS',
 'CTSH',
 'CTSO',
 'CTT',
 'CTXS',
 'CUB',
 'CUBA',
 'CUBE',
 'CUBI',
 'CUI',
 'CUK',
 'CUO',
 'CURE',
 'CUTR',
 'CUZ',
 'CVA',
 'CVBF',
 'CVCO',
 'CVCY',
 'CVEO',
 'CVGI',
 'CVGW',
 'CVI',
 'CVLT',
 'CVLY',
 'CVM',
 'CVR',
 'CVS',
 'CVTI',
 'CVU',
 'CVV',
 'CVX',
 'CW',
 'CWBC',
 'CWCO',
 'CWI',
 'CWST',
 'CWT',
 'CX',
 'CXE',
 'CXH',
 'CXO',
 'CXP',
 'CXW',
 'CY',
 'CYAN',
 'CYB',
 'CYBE',
 'CYBR',
 'CYCC',
 'CYD',
 'CYH',
 'CYRN',
 'CYTK',
 'CZNC',
 'CZR',
 'CZWI',
 'CZZ',
 'D',
 'DAC',
 'DAIO',
 'DAKT',
 'DAL',
 'DAN',
 'DAR',
 'DB',
 'DBA',
 'DBAW',
 'DBB',
 'DBC',
 'DBD',
 'DBE',
 'DBEF',
 'DBEM',
 'DBEU',
 'DBEZ',
 'DBGR',
 'DBJP',
 'DBL',
 'DBO',
 'DBP',
 'DBS',
 'DBV',
 'DBVT',
 'DCI',
 'DCIX',
 'DCO',
 'DCOM',
 'DDD',
 'DDF',
 'DDG',
 'DDM',
 'DDS',
 'DE',
 'DECK',
 'DEI',
 'DEM',
 'DENN',
 'DEO',
 'DERM',
 'DES',
 'DEW',
 'DEX',
 'DFE',
 'DFJ',
 'DFP',
 'DFS',
 'DGICA',
 'DGICB',
 'DGII',
 'DGL',
 'DGLY',
 'DGRE',
 'DGRO',
 'DGRS',
 'DGRW',
 'DGS',
 'DGSE',
 'DGT',
 'DGX',
 'DHF',
 'DHI',
 'DHIL',
 'DHR',
 'DHS',
 'DHT',
 ...]

In [234]:
#Dataframe with all the stocks that have all the required data (date[2015,2019],monthly returns)
dfAll1 = dfAll.loc[dfAll['Ticker Symbol'].isin(stocks)]
dfAll1

             Date Ticker Symbol  Returns
55     2015-01-30          JJSF  -9.7913
56     2015-02-27          JJSF   3.1288
57     2015-03-31          JJSF    5.801
58     2015-04-30          JJSF  -2.2212
59     2015-05-29          JJSF    3.326
...           ...           ...      ...
412683 2019-07-31         SP500  1.31282
412684 2019-08-30         SP500 -1.80916
412685 2019-09-30         SP500  1.71812
412686 2019-10-31         SP500  2.04318
412687 2019-11-29         SP500   3.4047

[262786 rows x 3 columns]

In [235]:
###Beta calculations###
###Want monthly return beta from 2015 to 2017###
dfBeta = dfAll1[(dfAll1['Date'] > '2015-01-01') & (dfAll1['Date'] < '2017-12-31')]
dfBeta = dfBeta.reset_index()
dfBeta = dfBeta[['Date','Ticker Symbol','Returns']]
dfBeta

             Date Ticker Symbol    Returns
0      2015-01-30          JJSF    -9.7913
1      2015-02-27          JJSF     3.1288
2      2015-03-31          JJSF      5.801
3      2015-04-30          JJSF    -2.2212
4      2015-05-29          JJSF      3.326
...           ...           ...        ...
160339 2017-08-31         SP500  0.0546433
160340 2017-09-29         SP500     1.9303
160341 2017-10-31         SP500    2.21881
160342 2017-11-30         SP500    2.80826
160343 2017-12-29         SP500   0.983163

[160344 rows x 3 columns]

In [236]:
stdev_stock = dfBeta.groupby('Ticker Symbol')['Returns'].std()
stdev_stock

Ticker Symbol
A        6.151584
AADR     4.083586
AAL      9.241575
AAMC    30.317984
AAME     8.044327
          ...
ZNGA     9.399612
ZNH     15.458949
ZTR      3.265853
ZTS      5.680491
ZUMZ    14.955430
Name: Returns, Length: 4454, dtype: float64

In [237]:
stdev_market = stdev_stock['SP500']
stdev_market

2.897270113388364

In [238]:
market_quotient = (stdev_stock / stdev_market)
market_quotient['AAPL']

2.298367142215951

In [275]:
###table to find correlations
symbols = dfBeta.groupby('Ticker Symbol')
market_df = symbols.get_group('SP500')
market_df = market_df[['Date','Returns']].set_index('Date')
table = dfBeta.pivot(index='Date',columns='Ticker Symbol',values='Returns')  
table
#table.to_excel('betaReturnsNYSE.xlsx')

Ticker Symbol,A,AADR,AAL,AAMC,AAME,AAN,AAOI,AAON,AAP,AAPL,...,ZION,ZIOP,ZIXI,ZMLP,ZN,ZNGA,ZNH,ZTR,ZTS,ZUMZ
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-30,-7.4988,-2.5773,-8.4841,-48.4071,-0.9926,3.5656,-20.3209,-2.5904,-0.1758,6.1424,...,-15.9593,76.5286,-1.6667,0.4197,9.4891,-3.7594,10.8787,-1.2134,-0.5043,-3.4688
2015-02-27,11.7554,7.5791,-2.2005,10.6563,0.2506,-5.8433,39.5973,3.2095,-2.5598,10.0461,...,11.7488,25.8101,12.9944,2.706,30.6667,-10.1563,-5.9245,2.3127,7.8633,4.103
2015-03-31,-1.3267,-1.2917,10.1879,4.5637,0.75,-4.9547,11.218,8.9738,-3.3434,-3.1372,...,0.9912,-4.3517,-1.75,-4.6253,-11.2245,23.913,44.5648,-1.495,0.4339,3.6837
2015-04-30,-0.4332,4.0653,-8.327,20.9961,-1.2407,20.0989,2.8818,-2.2829,-4.4692,0.5786,...,4.9444,-18.1987,8.397,6.4739,16.092,-14.0351,36.071,-0.0804,-3.8605,-21.2174
2015-05-29,-0.4351,0.0124,-12.2502,-23.933,-4.0404,3.0294,25.07,-1.2516,7.1469,4.5146,...,2.1352,7.605,7.7465,-4.9292,-1.9802,20.4082,1.407,-0.4492,12.0441,-5.8341
2015-06-30,-6.0937,-3.6773,-5.747,-15.3178,-4.7368,3.4342,-2.7996,-4.3937,4.0008,-3.7266,...,9.8857,26.5823,12.6362,-10.1211,-3.5354,-3.0509,17.3135,-2.9859,-3.1143,-10.8172
2015-07-31,6.1431,3.6491,0.4132,-8.1225,2.7624,2.1265,12.0392,-1.4654,9.3666,-3.2888,...,-1.7173,11.3333,-5.6093,-5.0702,-7.8534,-13.2867,-14.9349,-0.9505,1.5761,-1.9902
2015-08-31,-11.3309,-6.8414,-2.5436,-70.9663,-3.2258,1.8118,5.964,-6.8049,0.597,-6.6117,...,-6.8291,-34.8054,-10.2459,-4.5993,-15.3409,2.0161,-36.6937,-5.7659,-8.2217,-10.6897
2015-09-30,-5.1776,-4.1935,-0.3848,-37.776,12.2222,-4.0292,-8.8792,-6.2863,8.1826,-2.1816,...,-5.0345,3.4443,-3.8813,-13.5602,-4.0268,-9.8814,17.142,-3.4341,-8.2238,-32.9472
2015-10-30,9.9913,8.6139,19.0317,2.714,9.1584,-31.681,9.7977,5.6244,4.6958,8.3409,...,4.4662,26.4151,23.0404,8.6939,39.8601,3.9474,15.2352,6.4781,4.4439,11.8362
2015-11-30,10.7521,1.032,-10.5149,-31.0569,8.39,-1.5201,-9.0689,21.2506,-17.9912,-0.569,...,4.3448,14.8376,8.3012,-10.7365,-2,8.8608,-12.1054,1.7482,8.7724,-13.6728
2015-12-31,0.2511,-1.4688,2.6418,1.1792,4.3933,-7.7462,-8.48,-6.0299,-7.4725,-11.0228,...,-8.8785,-36.4679,-9.4474,-14.4712,-5.102,3.876,3.0246,1.0811,2.6124,0.1988
2016-01-29,-9.9498,-6.3562,-7.9339,-9.965,-12.6252,2.1885,-4.6037,-7.2782,1.0232,-7.5242,...,-16.9231,-40.1925,-11.6142,-10.4807,-1.0753,-8.209,-21.4679,-6.3218,-9.9645,19.7751
2016-02-29,-0.7968,-0.2217,5.4116,10.0324,-4.3578,0.4808,9.8961,15.1881,-2.3742,-0.1335,...,-5.7319,58.1489,-11.1359,-8.9122,-4.8913,-14.2276,-5.6075,0.929,-4.6225,14.0806
2016-03-31,6.6934,6.7619,0.0244,-30.5882,6.7146,9.2866,-17.1206,12.9032,8.0571,12.7211,...,13.5553,-5.598,-1.5038,12.9055,0.5714,8.0569,10.4668,5.472,7.964,-3.5818
2016-04-29,2.9737,-0.3283,-15.4109,41.9491,-5.618,4.4223,-24.8826,-5.2857,-2.6444,-13.9921,...,13.672,5.9299,-5.0891,15.7585,0.5682,4.386,-1.2484,3.3528,6.305,-15.763
2016-05-31,12.1457,0.8779,-7.7256,13.9104,-11.9617,-4.235,-5.8036,3.4691,-1.4478,7.1368,...,2.0349,-0.8906,7.7748,2.6016,-10.7345,7.9832,-4.0194,-2.5163,0.8293,-11.323
2016-06-30,-3.0835,1.0941,-11.2817,-23.6373,7.6087,-12.6892,5.6872,0.656,5.1027,-4.266,...,-10.3141,-29.525,-6.7164,3.8727,-12.0253,-3.1128,-1.7225,2.3609,0.2847,-3.8306
2016-07-29,8.4536,4.1262,25.3974,-11.7364,6.5657,9.4107,6.1883,-3.7441,5.0919,9.0063,...,10.9431,-11.4754,8.2667,1.944,1.4388,15.261,16.3215,4.256,6.3422,18.6583
2016-08-31,-2.3488,-1.0618,2.5352,9.8756,-14.218,1.8163,42.3142,6.8731,-7.3472,2.3606,...,10.0072,4.321,-6.1576,0.5951,-0.7092,-4.878,-9.7767,0.5873,1.2483,-1.649
2016-09-30,0.4789,1.3404,0.854,30.9271,-10.4972,4.3514,31.8101,1.8375,-5.2103,6.5504,...,1.4057,11.0454,7.6115,-0.5683,0,6.5934,-5.8528,-1.9209,1.7808,7.7844
2016-10-31,-7.475,2.7107,10.8987,84.5946,25,-2.7931,-13.4174,3.9209,-6.0622,0.4334,...,3.8362,0.8881,-0.7317,-3.9296,-4.2857,-3.4364,-0.2131,-1.9684,-8.0946,23.6111
2016-11-30,0.941,-2.3966,14.6305,-15.5198,-1.2346,17.847,28.8092,10.2838,21.1593,-2.1578,...,23.7814,14.0845,9.3366,2.9366,-1.4925,1.7794,2.2784,-2.7973,5.5962,11.4607
2016-12-30,3.8927,-1.1589,0.5383,85.4419,2.5,9.9502,-5.3694,0.4559,-0.3182,4.7955,...,8.1679,-17.4383,11.0112,3.4887,3.7879,-10.1399,-10.5117,8.0267,6.2525,-11.8952
2017-01-31,7.4846,10.0556,-5.226,17.3832,-8.5366,-3.2823,31.2287,2.7232,-2.8855,4.7746,...,-1.9749,10.6542,-3.4413,4.2395,-4.3796,-1.9455,12.641,-1.2209,2.8302,-8.238
2017-02-28,4.758,1.5604,4.9944,11.9427,2.6667,-11.8293,49.2848,-0.8837,-4.6456,13.3581,...,6.6129,7.2635,5.0315,-1.3732,-0.7634,5.1587,12.6727,3.484,-2.9669,1.7456
2017-03-31,3.3177,4.008,-8.7576,7.0412,3.8961,9.1184,22.2779,5.052,-5.2934,4.869,...,-6.4588,-0.1575,-3.992,-1.1335,-7.6923,7.5472,1.9001,2.5346,0.1125,-10.2941
2017-04-28,4.1233,1.3487,0.7565,1.3289,-0.75,20.8473,-12.0392,3.6775,-4.1279,-0.007,...,-4.6905,11.041,12.8898,-2.0767,6.6667,1.4035,-1.6842,5.9881,5.3307,-1.9126
2017-05-31,9.6094,0.2535,13.8198,19.3443,-8.8608,1.6138,41.3646,-1.296,-5.9871,6.7804,...,0.2998,-16.9034,6.2615,-4.9429,7.8125,21.7993,17.3142,2.4574,10.9963,-20.6128
2017-06-30,-1.4882,-0.962,3.9455,0.4387,4.1667,6.5923,-11.501,2.2253,-12.7067,-5.7214,...,9.5832,6.3248,-1.3865,0.2231,148.551,3.4091,9.8601,1.7013,0.3292,-13.3333
2017-07-31,0.8093,5.8244,0.2385,0.6573,-5.3333,18.9717,57.7763,-8.2768,-3.9283,3.2704,...,3.2111,-11.0932,-6.3269,3.0374,16.9096,-0.8242,-7.8986,4.8574,0.2244,2.834
2017-08-31,8.2455,6.2525,-11.1023,-0.3261,-8.4507,-4.3431,-39.3579,-3.5503,-12.5971,10.6905,...,-3.3981,15.5515,-0.3752,-5.0964,-16.7082,3.8781,1.2326,1.0899,0.2879,-1.9685
2017-09-29,-0.8035,5.8846,6.1466,-12.5409,0,-1.3836,9.3877,5.7515,1.3892,-6.0244,...,8.0623,-3.9124,-7.9096,1.4874,2.0958,0.8,-10.9585,1.2395,1.6906,45.3815
2017-10-31,6.1713,3.4173,-1.4108,5.2057,10.7692,-15.6544,-37.0032,1.5228,-17.6008,9.6808,...,-1.5261,-24.1042,-0.818,-2.9247,-24.6334,3.1746,7.5938,1.9167,0.0941,-2.4862
2017-11-30,1.7786,-2.8696,8.0521,-14.6667,0,2.5,7.1674,4.5143,23.5625,2.035,...,6.9953,-1.9313,-9.2783,-2.0168,-21.0117,5.1282,21.6063,0.7721,13.4362,23.5127
2017-12-29,-3.0633,5.6049,3.0501,13.3333,-5.5556,5.7264,-13.3761,0.6859,-1.2376,-1.5246,...,2.5833,-9.4092,-0.4545,3.8948,6.4039,-2.439,15.2324,1.3728,-0.3458,-4.4725

In [285]:
table = table.astype(float)
correlation = table.corr()
stock_corr = correlation['SP500']
stock_corr['AAPL']

0.5702997235289048

In [288]:
stock_betas = stock_corr*market_quotient
stock_betas
#stock_betas.to_excel('stock_betas_NYSE.xlsx')

Ticker Symbol
A       1.588297
AADR    0.985100
AAL     1.196599
AAMC    1.935465
AAME    0.461735
          ...
ZNGA    0.428356
ZNH     1.374188
ZTR     0.765649
ZTS     1.199800
ZUMZ    0.971595
Length: 4454, dtype: float64

In [297]:
###Find the returns for each stock that had data from 2015-2019
###returns will be calculated from 1-1-2018 - 11-29-2019 [OR 1.91667 years]
df_stock_returns = dfAll[(dfAll['Date'] > '2018-01-01') & (dfAll['Date'] < '2019-12-31')]
stock_annual_returns = df_stock_returns.loc[df_stock_returns['Ticker Symbol'].isin(stocks)]
stock_annual_returns

             Date Ticker Symbol  Returns
91     2018-01-31          JJSF  -8.8191
92     2018-02-28          JJSF  -2.9688
93     2018-03-29          JJSF   1.9951
94     2018-04-30          JJSF   0.6224
95     2018-05-31          JJSF   3.0638
...           ...           ...      ...
412683 2019-07-31         SP500  1.31282
412684 2019-08-30         SP500 -1.80916
412685 2019-09-30         SP500  1.71812
412686 2019-10-31         SP500  2.04318
412687 2019-11-29         SP500   3.4047

[102442 rows x 3 columns]

In [306]:
table1 = stock_annual_returns.pivot(index='Date',columns='Ticker Symbol',values='Returns') 
#table1.dtypes
table1 = table1.astype(float)
total_ret = table1.sum()
annual_returns_stocks = total_ret/1.91667
annual_returns_stocks.to_excel('stock_returns_NYSE.xlsx')

In [309]:
###sort betas into 34 portfolio's with equal weights and find total return
#34 because it is divisible by 4454 (number of tickers)
dataframe = pd.read_excel('stock_betas_NYSE_new.xlsx')

In [323]:
###beta of each 34 equally weighted portfolios of 131 stocks
#
group_size = 131
portfolios = [dataframe.iloc[i:i+group_size] for i in range(0,len(dataframe)-group_size+1,group_size)]   
for portfolio in portfolios:
    print(portfolio['Beta'].mean())

3.626758325876645
2.46455943145955
2.100875745464085
1.8700000666223955
1.6995199266331609
1.586020055512714
1.4818045968095308
1.3924019307479738
1.321453494140014
1.2543099320138758
1.1912406144241245
1.135803035497342
1.0861329607909902
1.0463118332143635
1.0108226936494071
0.9711267301811187
0.933728970455316
0.8925782334802131
0.8469967785302729
0.7939876922017551
0.7475475919084996
0.6934299238969961
0.6366967203196668
0.5846329476776014
0.5239576243213685
0.4490643453601007
0.3715844392113726
0.28330186082753495
0.18695433215849458
0.08780194047705363
0.003675646560095035
-0.06446357027485627
-0.22180785104929948
-1.3203295273830904

In [324]:
###annual returns of each portfolio sorted from highest to lowest beta
group_size = 131
portfolios = [dataframe.iloc[i:i+group_size] for i in range(0,len(dataframe)-group_size+1,group_size)]   
for portfolio in portfolios:
    print(portfolio['Annual Return'].mean())

-7.48602348929204
3.233890028017342
0.6289020592609383
-2.5000771654814646
4.399715282274117
0.06002976616130958
4.490184690153409
1.2350089374554156
0.4393083631012857
4.1406264530758
6.4014758898992135
5.522562449974366
8.200575051107442
5.255261620454402
7.487544709405352
5.2251401992251445
3.775959314295783
5.60160818040927
3.671842270012114
11.118664101626315
2.865070490219262
6.1718732357730595
5.828397430865399
3.936135736690586
3.3407292713503525
4.32625414219326
2.7211798675796537
3.5224642357409235
7.67684944351441
3.5421696113611794
4.393911243247622
3.5966247440047607
10.528295795463002
0.6171940145713131