In [1]:
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import math
import datetime as dt
from openpyxl.workbook import Workbook as wb
from openpyxl import load_workbook
from openpyxl.styles import Font
from openpyxl.utils.dataframe import dataframe_to_rows

In [2]:
#20131231, #20151231, 20111231
#2013-12-31, 2015-12-31, 2011-12-31

In [3]:
date = input("Date (20071230): ")
yahoo_date = input("Date: ('2007-12-30'): ")

Date (20071230): 20151231
Date: ('2007-12-30'): '2015-12-31'

In [4]:
shrout = pd.read_excel('shares_outstanding.xlsx')

In [5]:
shrout.head(60)

    PERMNO  Names Date Ticker Symbol  Shares Outstanding
0    10001    20070131          EWST              2959.0
1    10001    20070228          EWST              2989.0
2    10001    20070330          EWST              3002.0
3    10001    20070430          EWST              3002.0
4    10001    20070531          EWST              3003.0
5    10001    20070629          EWST              2859.0
6    10001    20070731          EWST              2859.0
7    10001    20070831          EWST              2859.0
8    10001    20070928          EWST              2856.0
9    10001    20071031          EWST              2855.0
10   10001    20071130          EWST              2858.0
11   10001    20071231          EWST              2875.0
12   10001    20080131          EWST              2875.0
13   10001    20080229          EWST              4345.0
14   10001    20080331          EWST              4347.0
15   10001    20080430          EWST              4347.0
16   10001    20080530          EWST              4347.0
17   10001    20080630          EWST              4349.0
18   10001    20080731          EWST              4349.0
19   10001    20080829          EWST              4349.0
20   10001    20080930          EWST              4349.0
21   10001    20081031          EWST              4349.0
22   10001    20081128          EWST              4349.0
23   10001    20081231          EWST              4297.0
24   10001    20090130          EWST              4297.0
25   10001    20090227          EWST              4297.0
26   10001    20090331          EWST              4300.0
27   10001    20090430          EWST              4300.0
28   10001    20090529          EWST              4354.0
29   10001    20090630          EWST              4301.0
30   10001    20090731          EWST              4301.0
31   10001    20090831          EGAS              4302.0
32   10001    20090930          EGAS              4303.0
33   10001    20091030          EGAS              4303.0
34   10001    20091130          EGAS              4361.0
35   10001    20091231          EGAS              4361.0
36   10001    20100129          EGAS              4361.0
37   10001    20100226          EGAS              4361.0
38   10001    20100331          EGAS              4361.0
39   10001    20100430          EGAS              6070.0
40   10001    20100528          EGAS              6071.0
41   10001    20100630          EGAS              6080.0
42   10001    20100730          EGAS              6080.0
43   10001    20100831          EGAS              6073.0
44   10001    20100930          EGAS              6073.0
45   10001    20101029          EGAS              6074.0
46   10001    20101130          EGAS              7834.0
47   10001    20101231          EGAS              7834.0
48   10001    20110131          EGAS              7834.0
49   10001    20110228          EGAS              7834.0
50   10001    20110331          EGAS              7834.0
51   10001    20110429          EGAS              8151.0
52   10001    20110531          EGAS              8151.0
53   10001    20110630          EGAS              8151.0
54   10001    20110729          EGAS              8151.0
55   10001    20110831          EGAS              8152.0
56   10001    20110930          EGAS              8152.0
57   10001    20111031          EGAS              8152.0
58   10001    20111130          EGAS              8154.0
59   10001    20111230          EGAS              8154.0

In [6]:
main = pd.read_excel('gamma_tickers.xlsx')

In [7]:
main['Ticker']

0          A
1       AAME
2       AAON
3        AAP
4       AAPL
        ...
2953    ZIOP
2954    ZIXI
2955      ZN
2956     ZTR
2957    ZUMZ
Name: Ticker, Length: 2958, dtype: object

In [8]:
int(date)

20151231

In [9]:
out = shrout[shrout['Names Date'] == int(date)]
shares = []
for ticker in out['Ticker Symbol']:
    shares.append(ticker)
shares = pd.DataFrame({'Ticker1':shares})
ticker_combined = pd.concat([shares,main['Ticker']],axis=1)
#ticker_combined
out

         PERMNO  Names Date Ticker Symbol  Shares Outstanding
107       10001    20151231          EGAS             10505.0
309       10025    20151231          AEPI              5103.0
430       10026    20151231          JJSF             18677.0
586       10028    20151231          DGSE             12296.0
742       10032    20151231          PLXS             33276.0
...         ...         ...           ...                 ...
1047650   92696    20151231           HPJ             15102.0
1047867   92699    20151231           DDG               425.0
1048007   92700    20151231           SEF              1300.0
1048346   92709    20151231           SNI             94616.0
1048521   92712    20151231            VT             96405.0

[6917 rows x 4 columns]

In [10]:
match = ticker_combined['Ticker1'].isin(ticker_combined['Ticker'])
match = ticker_combined[match]
matches = []
for ticker in match['Ticker']:
    matches.append(ticker)
matches = pd.DataFrame({'Matching Tickers':matches})
matches = matches.dropna()
sorted_matches = matches.set_index('Matching Tickers')
sorted_matches = sorted_matches.sort_index(ascending = True)
sorted_matches = sorted_matches.reset_index()
sorted_matches
#sorted_matches['Matching Tickers'].values[0:100]

    Matching Tickers
0               AAON
1               AAPL
2                AAU
3                 AB
4                ABB
..               ...
353             ZION
354             ZIXI
355               ZN
356              ZTR
357             ZUMZ

[358 rows x 1 columns]

In [11]:
failed = []
passed = []
data = pd.DataFrame()
for ticker in sorted_matches['Matching Tickers'].values[0:100]:
    try:
        data[ticker] = web.DataReader(ticker, data_source= "yahoo", start = yahoo_date, end=yahoo_date)["Adj Close"]
        passed.append(ticker)
    except (IOError, KeyError):
        msg = 'Failed to read symbol: {0!r}, replacing with NaN.'
        failed.append(ticker)

In [12]:
data

,AAON,AAPL,AAU,AB,ABB,ABC,ABIO,ABM,ABT,ACAD,...,ARQL,ARTNA,ARTW,ARWR,ASA,ASFI,ASG,ASR,ASX,AUDC
Date,,,,,,,,,,,,,,,,,,,,,
2015-12-31,22.432636,97.864746,0.68,15.849202,14.574659,95.721962,83.699997,26.024115,41.009979,35.650002,...,2.17,24.472639,3.1,6.15,7.083549,3.65051,3.146049,128.275513,4.698647,3.669683

In [15]:
failed = []
passed = []
data1 = pd.DataFrame()
for ticker in sorted_matches['Matching Tickers'].values[100:200]:
    try:
        data1[ticker] = web.DataReader(ticker, data_source= "yahoo", start = yahoo_date, end=yahoo_date)["Adj Close"]
        passed.append(ticker)
    except (IOError, KeyError):
        msg = 'Failed to read symbol: {0!r}, replacing with NaN.'
        failed.append(ticker)

In [16]:
data1

,AVB,AVD,AVX,AWI,AWP,AZZ,BA,BAF,BAM,BANR,...,UNP,UNT,UNTY,UPS,URBN,URE,URI,USA,USAK,USAP
Date,,,,,,,,,,,,,,,,,,,,,
2015-12-31,160.803513,13.789609,10.777253,45.022259,3.70773,52.129429,128.679169,11.680674,19.2572,39.5425,...,70.592346,12.2,10.623485,83.082344,22.75,49.589973,72.540001,3.391794,17.450001,9.29

In [17]:
failed = []
passed = []
data2 = pd.DataFrame()
for ticker in sorted_matches['Matching Tickers'].values[200:300]:
    try:
        data2[ticker] = web.DataReader(ticker, data_source= "yahoo", start = yahoo_date, end=yahoo_date)["Adj Close"]
        passed.append(ticker)
    except (IOError, KeyError):
        msg = 'Failed to read symbol: {0!r}, replacing with NaN.'
        failed.append(ticker)

In [18]:
data2

,USB,USD,USEG,USL,USM,USNA,USO,USPH,UTF,UTHR,...,WEN,WES,WEYS,WFC,WGO,WHG,WIA,WINA,WIP,WIRE
Date,,,,,,,,,,,,,,,,,,,,,
2015-12-31,38.028008,13.853198,9.6,17.02,40.810001,63.875,88,51.224461,12.963913,156.610001,...,9.825587,26.413433,22.976055,46.392815,18.726326,40.546272,9.020599,91.346764,45.454655,36.799263

In [19]:
failed = []
passed = []
data3 = pd.DataFrame()
for ticker in sorted_matches['Matching Tickers'].values[300:400]:
    try:
        data3[ticker] = web.DataReader(ticker, data_source= "yahoo", start = yahoo_date, end=yahoo_date)["Adj Close"]
        passed.append(ticker)
    except (IOError, KeyError):
        msg = 'Failed to read symbol: {0!r}, replacing with NaN.'
        failed.append(ticker)

In [20]:
failed = []
passed = []
data4 = pd.DataFrame()
for ticker in sorted_matches['Matching Tickers'].values[400:500]:
    try:
        data4[ticker] = web.DataReader(ticker, data_source= "yahoo", start = yahoo_date, end=yahoo_date)["Adj Close"]
        passed.append(ticker)
    except (IOError, KeyError):
        msg = 'Failed to read symbol: {0!r}, replacing with NaN.'
        failed.append(ticker)

In [21]:
failed = []
passed = []
data5 = pd.DataFrame()
for ticker in sorted_matches['Matching Tickers'].values[500:600]:
    try:
        data5[ticker] = web.DataReader(ticker, data_source= "yahoo", start = yahoo_date, end=yahoo_date)["Adj Close"]
        passed.append(ticker)
    except (IOError, KeyError):
        msg = 'Failed to read symbol: {0!r}, replacing with NaN.'
        failed.append(ticker)

In [22]:
failed = []
passed = []
data6 = pd.DataFrame()
for ticker in sorted_matches['Matching Tickers'].values[600:700]:
    try:
        data6[ticker] = web.DataReader(ticker, data_source= "yahoo", start = yahoo_date, end=yahoo_date)["Adj Close"]
        passed.append(ticker)
    except (IOError, KeyError):
        msg = 'Failed to read symbol: {0!r}, replacing with NaN.'
        failed.append(ticker)

In [23]:
failed = []
passed = []
data7 = pd.DataFrame()
for ticker in sorted_matches['Matching Tickers'].values[700:800]:
    try:
        data7[ticker] = web.DataReader(ticker, data_source= "yahoo", start = yahoo_date, end=yahoo_date)["Adj Close"]
        passed.append(ticker)
    except (IOError, KeyError):
        msg = 'Failed to read symbol: {0!r}, replacing with NaN.'
        failed.append(ticker)

In [24]:
failed = []
passed = []
data8 = pd.DataFrame()
for ticker in sorted_matches['Matching Tickers'].values[800:900]:
    try:
        data8[ticker] = web.DataReader(ticker, data_source= "yahoo", start = yahoo_date, end=yahoo_date)["Adj Close"]
        passed.append(ticker)
    except (IOError, KeyError):
        msg = 'Failed to read symbol: {0!r}, replacing with NaN.'
        failed.append(ticker)

In [25]:
failed = []
passed = []
data9 = pd.DataFrame()
for ticker in sorted_matches['Matching Tickers'].values[900:1000]:
    try:
        data9[ticker] = web.DataReader(ticker, data_source= "yahoo", start = yahoo_date, end=yahoo_date)["Adj Close"]
        passed.append(ticker)
    except (IOError, KeyError):
        msg = 'Failed to read symbol: {0!r}, replacing with NaN.'
        failed.append(ticker)

In [26]:
failed = []
passed = []
data10 = pd.DataFrame()
for ticker in sorted_matches['Matching Tickers'].values[1000:1100]:
    try:
        data10[ticker] = web.DataReader(ticker, data_source= "yahoo", start = yahoo_date, end=yahoo_date)["Adj Close"]
        passed.append(ticker)
    except (IOError, KeyError):
        msg = 'Failed to read symbol: {0!r}, replacing with NaN.'
        failed.append(ticker)

In [27]:
failed = []
passed = []
data11 = pd.DataFrame()
for ticker in sorted_matches['Matching Tickers'].values[1100:1300]:
    try:
        data11[ticker] = web.DataReader(ticker, data_source= "yahoo", start = yahoo_date, end=yahoo_date)["Adj Close"]
        passed.append(ticker)
    except (IOError, KeyError):
        msg = 'Failed to read symbol: {0!r}, replacing with NaN.'
        failed.append(ticker)

In [28]:
failed = []
passed = []
data12 = pd.DataFrame()
for ticker in sorted_matches['Matching Tickers'].values[1300:1500]:
    try:
        data12[ticker] = web.DataReader(ticker, data_source= "yahoo", start = yahoo_date, end=yahoo_date)["Adj Close"]
        passed.append(ticker)
    except (IOError, KeyError):
        msg = 'Failed to read symbol: {0!r}, replacing with NaN.'
        failed.append(ticker)

In [29]:
failed = []
passed = []
data13 = pd.DataFrame()
for ticker in sorted_matches['Matching Tickers'].values[1500:1700]:
    try:
        data13[ticker] = web.DataReader(ticker, data_source= "yahoo", start = yahoo_date, end=yahoo_date)["Adj Close"]
        passed.append(ticker)
    except (IOError, KeyError):
        msg = 'Failed to read symbol: {0!r}, replacing with NaN.'
        failed.append(ticker)

In [30]:
failed = []
passed = []
data14 = pd.DataFrame()
for ticker in sorted_matches['Matching Tickers'].values[1700:1900]:
    try:
        data14[ticker] = web.DataReader(ticker, data_source= "yahoo", start = yahoo_date, end=yahoo_date)["Adj Close"]
        passed.append(ticker)
    except (IOError, KeyError):
        msg = 'Failed to read symbol: {0!r}, replacing with NaN.'
        failed.append(ticker)

In [31]:
failed = []
passed = []
data15 = pd.DataFrame()
for ticker in sorted_matches['Matching Tickers'].values[1900:2100]:
    try:
        data15[ticker] = web.DataReader(ticker, data_source= "yahoo", start = yahoo_date, end=yahoo_date)["Adj Close"]
        passed.append(ticker)
    except (IOError, KeyError):
        msg = 'Failed to read symbol: {0!r}, replacing with NaN.'
        failed.append(ticker)

In [32]:
failed = []
passed = []
data16 = pd.DataFrame()
for ticker in sorted_matches['Matching Tickers'].values[2100:-1]:
    try:
        data16[ticker] = web.DataReader(ticker, data_source= "yahoo", start = yahoo_date, end=yahoo_date)["Adj Close"]
        passed.append(ticker)
    except (IOError, KeyError):
        msg = 'Failed to read symbol: {0!r}, replacing with NaN.'
        failed.append(ticker)

In [33]:
adj_close = pd.concat([data,data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,data11,data12,data13,data14,data15,data16],axis=1)

In [34]:
#adj_close.values
adj_close = adj_close.T

In [35]:
adj_close.index.names = ['Ticker']
adj_close.columns = ['Adj Close']
adj_close

        Adj Close
Ticker
AAON    22.432636
AAPL    97.864746
AAU      0.680000
AB      15.849202
ABB     14.574659
...           ...
ZION    25.046331
ZIXI     5.080000
ZN       1.860000
ZTR      6.717293
ZUMZ    15.120000

[358 rows x 1 columns]

In [36]:
adj_close.index.names = ['Ticker']
adj_close = adj_close.reset_index()

In [37]:
adj_close['Adj Close'].values

array([2.24326363e+01, 9.78647461e+01, 6.80000007e-01, 1.58492022e+01,
       1.45746593e+01, 9.57219620e+01, 8.36999969e+01, 2.60241146e+01,
       4.10099792e+01, 3.56500015e+01, 3.43973312e+01, 8.23999977e+00,
       2.13999996e+01, 3.00300007e+01, 4.28999996e+00, 9.39400024e+01,
       2.87201729e+01, 5.00158539e+01, 3.17733688e+01, 2.46285572e+01,
       1.81121197e+01, 1.76300774e+01, 6.09300003e+01, 1.54569283e+01,
       3.43445129e+01, 3.77996750e+01, 3.99291897e+00, 1.88000000e+00,
       2.31205349e+01, 2.49865685e+01, 1.33312178e+01, 4.99612579e+01,
       4.31599998e+01, 7.95819855e+00, 1.80999994e+00, 1.12929707e+01,
       6.14020634e+00, 4.53999996e+00, 1.04242582e+01, 2.44143505e+01,
       3.51807666e+00, 4.47881365e+00, 3.86257286e+01, 5.51117744e+01,
       2.30147591e+01, 3.44594193e+01, 9.55528069e+00, 1.63133335e+01,
       3.68564377e+01, 3.31295547e+01, 5.26300011e+01, 2.79098587e+01,
       3.73100014e+01, 5.21437874e+01, 3.73270302e+01, 4.39916420e+01,
       1.54932373e+02, 5.82000017e+00, 9.41399994e+01, 1.33070345e+01,
       1.66923082e+00, 7.82652893e+01, 3.10406219e+02, 1.90750000e+02,
       2.86999989e+00, 5.19392242e+01, 2.23579102e+01, 2.57512589e+01,
       1.28271637e+01, 1.88999999e+00, 1.84000003e+00, 6.36999989e+00,
       8.91678848e+01, 7.99800034e+01, 6.75890015e+02, 5.96599998e+01,
       8.87965012e+01, 2.88497982e+01, 2.21759968e+01, 9.25000000e+01,
       3.55506020e+01, 3.98127823e+01, 1.86100006e+01, 1.75000000e+00,
       6.75000000e+00, 7.96809235e+01, 1.91400146e+01, 5.61999989e+00,
       8.25596905e+00, 1.90000000e+01, 2.17000008e+00, 2.44726391e+01,
       3.09999990e+00, 6.15000010e+00, 7.08354902e+00, 3.65051031e+00,
       3.14604855e+00, 1.28275513e+02, 4.69864702e+00, 3.66968250e+00,
       1.60803513e+02, 1.37896090e+01, 1.07772532e+01, 4.50222588e+01,
       3.70772958e+00, 5.21294289e+01, 1.28679169e+02, 1.16806736e+01,
       1.92572002e+01, 3.95424995e+01, 3.06350006e+02, 4.43906975e+01,
       7.32567139e+01, 4.02027245e+01, 3.49000001e+00, 5.07000008e+01,
       5.27503586e+01, 2.33827281e+00, 9.34489918e+00, 6.99599991e+01,
       2.11615677e+02, 4.37733889e+00, 7.47839737e+01, 1.41888916e+02,
       1.48000002e+00, 1.96431580e+01, 2.85944862e+01, 4.00299988e+01,
       2.16404247e+01, 7.50559158e+01, 1.00196320e+02, 1.11650028e+01,
       1.17341957e+01, 1.02594139e+02, 7.50470505e+01, 2.27878246e+01,
       5.00167885e+01, 1.17503948e+01, 3.39900017e+01, 1.86563587e+01,
       1.57598629e+01, 3.50658951e+01, 1.15552588e+01, 1.37868500e+01,
       5.21025772e+01, 4.02500839e+01, 2.40493355e+01, 2.08643112e+01,
       2.92247849e+01, 6.84000015e+00, 1.08101406e+01, 5.02274628e+01,
       5.31002197e+01, 3.88564667e+02, 6.65273666e+00, 4.64135666e+01,
       3.21063118e+01, 5.59368515e+00, 3.55774918e+01, 7.04599991e+01,
       2.76093864e+01, 1.85922337e+01, 3.30433693e+01, 1.17600002e+01,
       2.14500008e+01, 1.51730423e+01, 6.29004707e+01, 2.45948715e+01,
       4.05975580e+00, 3.83962288e+01, 7.15999985e+01, 1.17604332e+01,
       1.40475731e+01, 2.08362293e+01, 3.24552269e+01, 1.05999994e+00,
       5.13499985e+01, 1.35100002e+01, 3.23324318e+01, 2.81499996e+01,
       1.59719193e+00, 7.78922510e+00, 1.30706930e+01, 9.98999977e+00,
       2.42181396e+01, 1.03109276e+02, 3.93600006e+01, 3.46800003e+01,
       1.10046005e+02, 2.92863216e+01, 7.05923462e+01, 1.21999998e+01,
       1.06234846e+01, 8.30823441e+01, 2.27500000e+01, 4.95899734e+01,
       7.25400009e+01, 3.39179420e+00, 1.74500008e+01, 9.28999996e+00,
       3.80280075e+01, 1.38531981e+01, 9.60000038e+00, 1.70200005e+01,
       4.08100014e+01, 6.38750000e+01, 8.80000000e+01, 5.12244606e+01,
       1.29639130e+01, 1.56610001e+02, 4.63978291e+00, 3.10568466e+01,
       2.48000002e+00, 2.48555889e+01, 4.48000002e+00, 1.80092449e+01,
       4.45864754e+01, 2.26808414e+01, 3.48754730e+01, 7.50447311e+01,
       1.19482889e+01, 8.70656433e+01, 1.41742182e+01, 1.90000000e+01,
       1.17291245e+02, 9.07928391e+01, 1.19552774e+01, 1.06063776e+01,
       1.16126358e+02, 7.28542938e+01, 3.23380165e+01, 2.05599995e+01,
       3.83514519e+01, 5.16906929e+01, 4.44536400e+01, 1.04680376e+01,
       5.73999977e+00, 4.33213615e+01, 2.80000001e-01, 1.24584999e+02,
       9.11999989e+00, 7.14319992e+01, 3.27365351e+00, 9.35833740e+01,
       9.17358017e+00, 9.96510315e+00, 2.24243164e+01, 5.89129944e+01,
       8.96658421e+00, 8.15042877e+00, 9.11926498e+01, 1.01014862e+02,
       1.12573023e+01, 4.69940338e+01, 6.62036438e+01, 1.12381256e+02,
       2.41145439e+01, 7.82005386e+01, 7.57822571e+01, 5.26000023e+00,
       5.06701012e+01, 8.23813858e+01, 8.73600006e+01, 4.13400002e+01,
       1.25830002e+02, 6.10099983e+01, 2.99196167e+01, 1.10770416e+01,
       5.21899910e+01, 7.67728043e+00, 9.61470413e+01, 1.16653919e+01,
       4.48736038e+01, 7.29032898e+01, 8.59643326e+01, 3.00620055e+00,
       1.01999998e+01, 7.90188522e+01, 5.85021935e+01, 3.50148773e+01,
       3.40228348e+01, 1.34580002e+02, 1.02260002e+02, 1.82849998e+01,
       3.29364929e+01, 5.18232994e+01, 9.19337006e+01, 1.99582176e+01,
       8.95360279e+00, 4.40697708e+01, 9.82558727e+00, 2.64134331e+01,
       2.29760551e+01, 4.63928146e+01, 1.87263260e+01, 4.05462723e+01,
       9.02059937e+00, 9.13467636e+01, 4.54546547e+01, 3.67992630e+01,
       5.60287809e+00, 8.67231560e+00, 8.38000011e+00, 2.01000004e+01,
       5.10080986e+01, 3.77599983e+01, 1.94876919e+01, 2.41800003e+01,
       3.92906723e+01, 5.48221169e+01, 1.10669785e+01, 3.11900005e+01,
       2.72042217e+01, 2.80065060e+01, 3.33553085e+01, 2.55039825e+01,
       3.10502510e+01, 5.10197411e+01, 5.86793327e+01, 1.47751045e+01,
       5.03999996e+00, 4.60528946e+01, 2.30999994e+00, 7.22538818e+02,
       2.69806232e+01, 4.72799873e+01, 1.52054977e+01, 1.12815542e+01,
       7.07999992e+00, 1.66777878e+01, 6.99999988e-01, 7.64437008e+00,
       6.96626968e+01, 8.56951828e+01, 3.28591080e+01, 5.06443176e+01,
       4.00829620e+01, 4.28987579e+01, 3.75833893e+01, 6.68726501e+01,
       7.35294800e+01, 6.42735367e+01, 2.66000004e+01, 1.14949936e+02,
       4.97778435e+01, 4.90000010e-01, 5.90240211e+01, 4.04681625e+01,
       2.49402637e+01, 4.23199959e+01, 2.29835949e+01, 1.52980003e+01,
       1.41800003e+01, 2.50463314e+01, 5.07999992e+00, 1.86000001e+00,
       6.71729326e+00, 1.51199999e+01])

In [38]:
shrout1 = shrout.loc[shrout['Ticker Symbol'].isin(adj_close['Ticker'].values)]
shrout2 = shrout1[shrout1['Names Date'] == int(date)]
shrout2 = shrout2.set_index('Ticker Symbol')
shrout2.index.names = ['Ticker']
shrout2 = shrout2[['Names Date','Shares Outstanding']]
shrout2 = shrout2.sort_index(ascending = True)

In [39]:
adj_close = adj_close.set_index('Ticker')
adj_close

        Adj Close
Ticker
AAON    22.432636
AAPL    97.864746
AAU      0.680000
AB      15.849202
ABB     14.574659
...           ...
ZION    25.046331
ZIXI     5.080000
ZN       1.860000
ZTR      6.717293
ZUMZ    15.120000

[358 rows x 1 columns]

In [40]:
adj_close.sort_values('Adj Close')

         Adj Close
Ticker
VGZ       0.280000
XPL       0.490000
AAU       0.680000
WYY       0.700000
UEC       1.060000
...            ...
BIIB    306.350006
ALX     310.406219
TNK     388.564667
AMZN    675.890015
WTM     722.538818

[358 rows x 1 columns]

In [41]:
cap = pd.concat([shrout2,adj_close],axis=1)
cap['Market Cap'] = cap['Shares Outstanding']*cap['Adj Close']
cap = cap[['Market Cap']]
cap['Weight'] = cap['Market Cap']/cap['Market Cap'].values.sum()
cap

          Market Cap    Weight
Ticker
AAON    1.189199e+06  0.000308
AAPL    5.426098e+08  0.140569
AAU     5.280540e+04  0.000014
AB      1.549624e+06  0.000401
ABB     1.650813e+06  0.000428
...              ...       ...
ZION    5.119896e+06  0.001326
ZIXI    2.872588e+05  0.000074
ZN      7.108920e+04  0.000018
ZTR     2.168745e+05  0.000056
ZUMZ    4.034772e+05  0.000105

[358 rows x 2 columns]

In [42]:
cap.sort_values("Market Cap", ascending = False)

          Market Cap    Weight
Ticker
AAPL    5.426098e+08  0.140569
AMZN    3.183442e+08  0.082471
XOM     2.675668e+08  0.069316
WFC     2.369658e+08  0.061389
WMT     1.755346e+08  0.045474
...              ...       ...
ARTW    1.258910e+04  0.000003
UUU     1.036224e+04  0.000003
AMS     9.869760e+03  0.000003
CLWT    4.821519e+03  0.000001
USD     4.502289e+03  0.000001

[358 rows x 2 columns]

In [44]:
cap.to_excel('weights.xlsx')